In [2]:
import wrangle as w
import numpy as np
import pandas as pd

In [3]:
df = w.acquire_anonymized_curriculum_access_data()

In [4]:
df = w.clean_the_data(df)

In [5]:
df

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
date,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
...,...,...,...,...,...,...,...,...,...,...
2021-04-21,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java

In [6]:
df.program_id.value_counts()

Java            713365
Data Science    103412
nan              52893
PHP              30548
Front End            5
Name: program_id, dtype: int64

In [7]:
df.name.value_counts()

Staff         84031
Ceres         40730
Zion          38096
Jupiter       37109
Fortuna       36902
Voyageurs     35636
Ganymede      33844
Apex          33568
Deimos        32888
Darden        32015
Teddy         30926
Hyperion      29855
Betelgeuse    29356
Ulysses       28534
Europa        28033
Xanadu        27749
Bayes         26538
Wrangell      25586
Andromeda     25359
Kalypso       23691
Curie         21582
Yosemite      20743
Bash          17713
Luna          16623
Marco         16397
Easley        14715
Lassen         9587
Arches         8890
Florence       8562
Sequoia        7444
Neptune        7276
Olympic        4954
Kings          2845
Pinnacles      2158
Hampton        1712
Oberon         1672
Quincy         1237
Niagara         755
Mammoth         691
Glacier         598
Joshua          302
Ike             253
Badlands         93
Franklin         72
Apollo            5
Denali            4
Everglades        1
Name: name, dtype: int64

In [8]:
DS = df[df.program_id == 'Data Science']

In [9]:
WebDev = df[(df.program_id == 'PHP') | (df.program_id == 'Java') | (df.program_id == 'Front End') ]

In [10]:
DS

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
date,,,,,,,,,,
2019-08-20,2019-08-20,09:39:58,/,466,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
2019-08-20,2019-08-20,09:39:59,/,467,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
2019-08-20,2019-08-20,09:39:59,/,468,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
2019-08-20,2019-08-20,09:40:02,/,469,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
2019-08-20,2019-08-20,09:40:08,/,470,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
...,...,...,...,...,...,...,...,...,...,...
2021-04-21,2021-04-21,16:14:16,regression/project,841,133.0,99.162.244.233,Easley,2020-12-07,2021-06-08,Data Science
2021-04-21,2021-04-21,16:15:51,regression/project,841,133.0,99.162.244.233,Easley,2020-12-07,2021-06-08,Data Science
2021-04-21,2021-04-21,16:23:53,/,143,133.0,173.174.194.60,Easley,2020-12-07,2021-06-08,Data Science
2021-04-21,2021-04-21,16:23:57,clustering/project,841,133.0,99.162.244.233,Easley,2020-12-07,2021-06-08,Data Science
2021-04-21,2021-04-21,16:32:50,clustering/project,841,133.0,99.162.244.233,Easley,2020-12-07,2021-06-08,Data Science

In [11]:
WebDev

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
date,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
...,...,...,...,...,...,...,...,...,...,...
2021-04-21,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java

In [12]:
DS_Cohorts = DS.groupby('page')['name'].count().sort_values()

In [13]:
WebDev_Cohorts = WebDev.groupby('page')['name'].count().sort_values()

In [14]:
WebDev_Cohorts

page
'                               1
cli-02-listing-files            1
cli-03-file-paths               1
cli-07-more-topics              1
codeup-exercises                1
                            ...
java-iii                    13162
search/search_index.json    15331
toc                         17580
javascript-i                18193
/                           37496
Name: name, Length: 2054, dtype: int64

In [15]:
DS_Cohorts

page
%20https://github.com/RaulCPena                      1
appendix/open_data/www.census.gov                    1
appendix/open_data/www.flickr.com/services/api       1
appendix/open_data/www.openstreetmap.org             1
appendix/univariate_regression_in_excel              1
                                                  ...
1-fundamentals/AI-ML-DL-timeline.jpg              1651
1-fundamentals/modern-data-scientist.jpg          1655
classification/overview                           1785
search/search_index.json                          2203
/                                                 8358
Name: name, Length: 682, dtype: int64

In [16]:
df.name.unique()

array(['Hampton', 'Teddy', 'Sequoia', 'Arches', 'Niagara', 'Pinnacles',
       'Quincy', nan, 'Kings', 'Lassen', 'Mammoth', 'Glacier', 'Denali',
       'Joshua', 'Olympic', 'Ulysses', 'Badlands', 'Apollo', 'Ike',
       'Voyageurs', 'Wrangell', 'Xanadu', 'Franklin', 'Yosemite', 'Staff',
       'Zion', 'Andromeda', 'Betelgeuse', 'Ceres', 'Bayes', 'Deimos',
       'Europa', 'Fortuna', 'Curie', 'Apex', 'Ganymede', 'Everglades',
       'Hyperion', 'Darden', 'Bash', 'Jupiter', 'Kalypso', 'Luna',
       'Easley', 'Marco', 'Neptune', 'Florence', 'Oberon'], dtype=object)

In [17]:
WebDevDict = {}
for x in WebDev.name.unique():
    WebDevDict[x] = pd.DataFrame(df[df.name == x])

In [18]:
DSDict = {}
for x in DS.name.unique():
    DSDict[x] = pd.DataFrame(df[df.name == x])

In [19]:
DSDict

{'Bayes':                  date      time  \
 date
 2019-08-20 2019-08-20  09:39:58
 2019-08-20 2019-08-20  09:39:59
 2019-08-20 2019-08-20  09:39:59
 2019-08-20 2019-08-20  09:40:02
 2019-08-20 2019-08-20  09:40:08
 ...               ...       ...
 2021-04-20 2021-04-20  21:25:09
 2021-04-20 2021-04-20  21:25:19
 2021-04-20 2021-04-20  21:31:00
 2021-04-21 2021-04-21  10:59:17
 2021-04-21 2021-04-21  11:00:06

                                                       page  user_id  \
 date
 2019-08-20                                               /      466
 2019-08-20                                               /      467
 2019-08-20                                               /      468
 2019-08-20                                               /      469
 2019-08-20                                               /      470
 ...                                                    ...      ...
 2021-04-20  anomaly-detection/AnomalyDetectionCartoon.jpeg      478
 2021-04-20                             capstones/capstones      478
 2021-04-20                              sql/mysql-overview      478
 2021-04-21                                               /      485
 2021-04-21                      python/advanced-dataframes      485

             cohort_id              ip   name start_date   end_date  \
 date
 2019-08-20       34.0    97.105.19.58  Bayes 2019-08-19 2020-01-30
 2019-08-20       34.0    97.105.19.58  Bayes 2019-08-19 2020-01-30
 2019-08-20       34.0    97.105.19.58  Bayes 2019-08-19 2020-01-30
 2019-08-20       34.0    97.105.19.58  Bayes 2019-08-19 2020-01-30
 2019-08-20       34.0    97.105.19.58  Bayes 2019-08-19 2020-01-30
 ...               ...             ...    ...        ...        ...
 2021-04-20       34.0    67.11.138.10  Bayes 2019-08-19 2020-01-30
 2021-04-20       34.0    67.11.138.10  Bayes 2019-08-19 2020-01-30
 2021-04-20       34.0    67.11.138.10  Bayes 2019-08-19 2020-01-30
 2021-04-21       34.0  173.174.142.84  Bayes 2019-08-19 2020-01-30
 2021-04-21       34.0  173.174.142.84  Bayes 2019-08-19 2020-01-30

               program_id
 date
 2019-08-20  Data Science
 2019-08-20  Data Science
 2019-08-20  Data Science
 2019-08-20  Data Science
 2019-08-20  Data Science
 ...                  ...
 2021-04-20  Data Science
 2021-04-20  Data Science
 2021-04-20  Data Science
 2021-04-21  Data Science
 2021-04-21  Data Science

 [26538 rows x 10 columns],
 'Curie':                  date      time  \
 date
 2020-02-03 2020-02-03  15:39:34
 2020-02-03 2020-02-03  15:39:35
 2020-02-03 2020-02-03  15:39:37
 2020-02-03 2020-02-03  15:39:37
 2020-02-03 2020-02-03  15:39:43
 ...               ...       ...
 2021-04-20 2021-04-20  14:44:36
 2021-04-20 2021-04-20  14:45:12
 2021-04-20 2021-04-20  14:45:43
 2021-04-20 2021-04-20  19:06:48
 2021-04-20 2021-04-20  19:06:59

                                                          page  user_id  \
 date
 2020-02-03                                              login      575
 2020-02-03                                                  /      576
 2020-02-03                                                  /      577
 2020-02-03                                              login      575
 2020-02-03                                                  /      578
 ...                                                       ...      ...
 2021-04-20                             sql/mysql-introduction      580
 2021-04-20                             python/pandas-overview      580
 2021-04-20                                      python/series      580
 2021-04-20                                  appendix/postwork      580
 2021-04-20  appendix/professional-development/t-block-less...      580

             cohort_id              ip   name start_date   end_date  \
 date
 2020-02-03       55.0    97.105.19.58  Curie 2020-02-03 2020-07-07
 2020-02-03       55.0    97.105.19.58  Curie 2020-02-03 2020-07-07
 2020-02-03       55.0    97.105.19.58  Curie 2020-02-03 2020-07-07
 2020-02-03       55.0    97.105.19.58  Curie 2020-02-03 2020-07-07
 2020-02-03       55.0    97.105.19.58  Curie 2020-02-03 2020-07-07
 ...               ...             ...    ...        ...        ...
 2021-04-20       55.0  185.247.70.173  Curie 2020-02-03 2020-07-07
 2021-04-20       55.0  185.247.70.173  Curie 2020-02-03 2020-07-07
 2021-04-20       55.0  185.247.70.173  Curie 2020-02-03 2020-07-07
 2021-04-20       55.0  185.247.70.173  Curie 2020-02-03 2020-07-07
 2021-04-20       55.0  185.247.70.173  Curie 2020-02-03 2020-07-07

               program_id
 date
 2020-02-03  Data Science
 2020-02-03  Data Science
 2020-02-03  Data Science
 2020-02-03  Data Science
 2020-02-03  Data Science
 ...                  ...
 2021-04-20  Data Science
 2021-04-20  Data Science
 2021-04-20  Data Science
 2021-04-20  Data Science
 2021-04-20  Data Science

 [21582 rows x 10 columns],
 'Darden':                  date      time  \
 date
 2020-07-13 2020-07-13  14:34:44
 2020-07-13 2020-07-13  14:37:22
 2020-07-13 2020-07-13  14:38:28
 2020-07-13 2020-07-13  14:39:21
 2020-07-13 2020-07-13  14:39:36
 ...               ...       ...
 2021-04-21 2021-04-21  15:20:12
 2021-04-21 2021-04-21  15:20:12
 2021-04-21 2021-04-21  15:20:12
 2021-04-21 2021-04-21  15:20:14
 2021-04-21 2021-04-21  15:20:18

                                                          page  user_id  \
 date
 2020-07-13                                                  /      678
 2020-07-13                                                  /      679
 2020-07-13                                                  /      680
 2020-07-13                     13-advanced-topics/1-tidy-data      679
 2020-07-13           1-fundamentals/1.1-intro-to-data-science      679
 ...                                                       ...      ...
 2021-04-21                            classification/overview      692
 2021-04-21  classification/classical_programming_vs_machin...      692
 2021-04-21           classification/scale_features_or_not.svg      692
 2021-04-21                             classification/project      692
 2021-04-21                             classification/acquire      692

             cohort_id             ip    name start_date   end_date  \
 date
 2020-07-13       59.0  76.201.20.193  Darden 2020-07-13 2021-01-12
 2020-07-13       59.0  24.28.146.155  Darden 2020-07-13 2021-01-12
 2020-07-13       59.0  136.50.56.155  Darden 2020-07-13 2021-01-12
 2020-07-13       59.0  24.28.146.155  Darden 2020-07-13 2021-01-12
 2020-07-13       59.0  24.28.146.155  Darden 2020-07-13 2021-01-12
 ...               ...            ...     ...        ...        ...
 2021-04-21       59.0   96.8.130.134  Darden 2020-07-13 2021-01-12
 2021-04-21       59.0   96.8.130.134  Darden 2020-07-13 2021-01-12
 2021-04-21       59.0   96.8.130.134  Darden 2020-07-13 2021-01-12
 2021-04-21       59.0   96.8.130.134  Darden 2020-07-13 2021-01-12
 2021-04-21       59.0   96.8.130.134  Darden 2020-07-13 2021-01-12

               program_id
 date
 2020-07-13  Data Science
 2020-07-13  Data Science
 2020-07-13  Data Science
 2020-07-13  Data Science
 2020-07-13  Data Science
 ...                  ...
 2021-04-21  Data Science
 2021-04-21  Data Science
 2021-04-21  Data Science
 2021-04-21  Data Science
 2021-04-21  Data Science

 [32015 rows x 10 columns],
 'Easley':                  date      time                page  user_id  cohort_id  \
 date
 2020-12-08 2020-12-08  10:49:37                   /      835      133.0
 2020-12-08 2020-12-08  10:49:39                   /      836      133.0
 2020-12-08 2020-12-08  10:49:40                   /      837      133.0
 2020-12-08 2020-12-08  10:49:52                   /      838      133.0
 2020-12-08 2020-12-08  10:50:16                   /      839      133.0
 ...               ...       ...                 ...      ...        ...
 2021-04-21 2021-04-21  16:14:16  regression/project      841      133.0
 2021-04-21 2021-04-21  16:15:51  regression/project      841      133.0
 2021-04-21 2021-04-21  16:23:53                   /      143      133.0
 2021-04-21 2021-04-21  16:23:57  clustering/project      841      133.0
 2021-04-21 2021-04-21  16:32:50  clustering/project      841      133.0

                         ip    name start_date   end_date    program_id
 date
 2020-12-08   173.173.109.5  Easley 2020-12-07 2021-06-08  Data Science
 2020-12-08   99.43.137.186  Easley 2020-12-07 2021-06-08  Data Science
 2020-12-08     66.69.79.82  Easley 2020-12-07 2021-06-08  Data Science
 2020-12-08   99.158.249.67  Easley 2020-12-07 2021-06-08  Data Science
 2020-12-08    130.45.49.89  Easley 2020-12-07 2021-06-08  Data Science
 ...                    ...     ...        ...        ...           ...
 2021-04-21  99.162.244.233  Easley 2020-12-07 2021-06-08  Data Science
 2021-04-21  99.162.244.233  Easley 2020-12-07 2021-06-08  Data Science
 2021-04-21  173.174.194.60  Easley 2020-12-07 2021-06-08  Data Science
 2021-04-21  99.162.244.233  Easley 2020-12-07 2021-06-08  Data Science
 2021-04-21  99.162.244.233  Easley 2020-12-07 2021-06-08  Data Science

 [14715 rows x 10 columns],
 'Florence':                  date      time                                page  user_id  \
 date
 2021-03-15 2021-03-15  15:22:48                                   /      896
 2021-03-15 2021-03-15  15:23:17                                   /      897
 2021-03-15 2021-03-15  15:23:33                                   /      898
 2021-03-15 2021-03-15  15:23:48                                   /      899
 2021-03-15 2021-03-15  15:24:05  fundamentals/intro-to-data-science      898
 ...               ...       ...                                 ...      ...
 2021-04-21 2021-04-21  12:10:26          python/advanced-dataframes      898
 2021-04-21 2021-04-21  12:47:06                                   /      903
 2021-04-21 2021-04-21  12:47:09                    fundamentals/git      903
 2021-04-21 2021-04-21  12:55:54                   python/dataframes      908
 2021-04-21 2021-04-21  13:23:06                        sql/group-by      903

             cohort_id               ip      name start_date   end_date  \
 date
 2021-03-15      137.0   162.205.226.39  Florence 2021-03-15 2021-09-03
 2021-03-15      137.0    72.181.115.96  Florence 2021-03-15 2021-09-03
 2021-03-15      137.0    208.84.155.68  Florence 2021-03-15 2021-09-03
 2021-03-15      137.0  173.173.110.122  Florence 2021-03-15 2021-09-03
 2021-03-15      137.0    208.84.155.68  Florence 2021-03-15 2021-09-03
 ...               ...              ...       ...        ...        ...
 2021-04-21      137.0   99.147.232.101  Florence 2021-03-15 2021-09-03
 2021-04-21      137.0     70.117.8.141  Florence 2021-03-15 2021-09-03
 2021-04-21      137.0     70.117.8.141  Florence 2021-03-15 2021-09-03
 2021-04-21      137.0    68.206.160.11  Florence 2021-03-15 2021-09-03
 2021-04-21      137.0     70.117.8.141  Florence 2021-03-15 2021-09-03

               program_id
 date
 2021-03-15  Data Science
 2021-03-15  Data Science
 2021-03-15  Data Science
 2021-03-15  Data Science
 2021-03-15  Data Science
 ...                  ...
 2021-04-21  Data Science
 2021-04-21  Data Science
 2021-04-21  Data Science
 2021-04-21  Data Science
 2021-04-21  Data Science

 [8562 rows x 10 columns]}

In [45]:
#cohorts Kings, quincy, and joshua all look at PHP in their top 10 most visited lessons. they also have differently marked pathways to their content which could suggest that they made significant changes before or after these cohorts.
for x in WebDevDict:
    display(x, WebDevDict[x].groupby('page')['name'].count().sort_values().tail(10))

'Hampton'

page
java-iii/servlets     30
mysql                 30
javascript-ii         31
javascript-i          36
spring                43
java-i                46
java-ii               46
appendix              55
java-iii              57
/                    210
Name: name, dtype: int64

'Teddy'

page
appendix                     505
java-ii                      509
jquery                       512
java-i                       522
mkdocs/search_index.json     595
javascript-i                 615
mysql                        638
java-iii                     732
spring                       744
/                           1828
Name: name, dtype: int64

'Sequoia'

page
spring/fundamentals/form-model-binding    156
mkdocs/search_index.json                  168
html-css                                  168
appendix                                  170
spring/fundamentals/repositories          172
spring/fundamentals/controllers           190
javascript-i                              202
spring/fundamentals/views                 207
spring                                    364
/                                         630
Name: name, dtype: int64

'Arches'

page
java-i           132
jquery           133
appendix         133
java-iii         153
java-ii          167
spring           192
javascript-ii    204
html-css         215
javascript-i     294
/                626
Name: name, dtype: int64

'Niagara'

page
java-ii          17
java-i           18
appendix         20
javascript-ii    21
javascript-i     23
mysql            24
java-iii         29
/                37
index.html       63
spring           65
Name: name, dtype: int64

'Pinnacles'

page
mysql                 39
java-iii              45
java-ii               50
javascript-ii/npm     51
java-i                54
spring                56
html-css              56
javascript-ii         58
javascript-i          69
/                    149
Name: name, dtype: int64

'Quincy'

page
content/appendix                                     14
content/php_iii/php-with-html                        15
javascript-i/conditionals                            16
content/php_iii                                      19
content/mysql/intro-to-mysql                         19
content/laravel/intro/application-structure.html     20
content/laravel/intro/environment.html               31
content/html-css                                     33
content/laravel/intro                                38
/                                                   151
Name: name, dtype: int64

'Kings'

page
content/laravel/quickstart/db-migrations.html        40
content/php_ii                                       40
content/php_iv                                       42
content/html-css                                     45
content/php_iii                                      47
content/laravel/intro/gitbook/images/favicon.ico     56
content/laravel/intro/application-structure.html     63
content/laravel/intro                                83
index.html                                           84
/                                                   219
Name: name, dtype: int64

'Lassen'

page
spring/fundamentals/repositories    115
/                                   125
java-i                              138
java-ii                             160
appendix                            170
html-css                            174
spring                              222
java-iii                            224
javascript-i                        233
index.html                          877
Name: name, dtype: int64

'Mammoth'

page
content/php_i/intro-via-interactive-shell     9
appendix                                      9
javascript-ii                                10
java-ii                                      10
spring/fundamentals/views                    11
spring                                       12
spring/fundamentals/controllers              12
java-iii                                     13
java-i                                       19
/                                            33
Name: name, dtype: int64

'Glacier'

page
javascript-i/javascript-with-html                                            14
javascript-i/conditionals                                                    16
javascript-i/introduction/operators                                          18
javascript-i/introduction/variables                                          19
javascript-i/functions                                                       20
content/html-css/introduction.html                                           20
html-css                                                                     21
javascript-i/introduction/working-with-data-types-operators-and-variables    24
content/html-css                                                             29
/                                                                            51
Name: name, dtype: int64

'Denali'

page
/                            1
mkdocs/search_index.json     1
prework/databases            1
prework/versioning/github    1
Name: name, dtype: int64

'Joshua'

page
content/javascript/primitive-types.html     7
content/php_iv                              7
content/html-css/forms.html                 7
index.html                                  8
/                                           8
content/html-css/elements.html              9
content/mysql/intro-to-mysql               10
content/javascript                         12
content/html-css/introduction.html         14
content/html-css                           19
Name: name, dtype: int64

'Olympic'

page
javascript-i/bom-and-dom/bom                                                  60
java-i/console-io                                                             60
javascript-i/javascript-with-html                                             63
javascript-i/introduction/working-with-data-types-operators-and-variables     65
html-css                                                                      69
java-i/methods                                                                69
jquery                                                                        71
java-i                                                                        76
javascript-i                                                                 128
/                                                                            249
Name: name, dtype: int64

'Ulysses'

page
jquery                       364
mysql                        367
java-i                       377
spring                       409
java-iii                     412
java-ii                      425
javascript-i                 526
html-css                     562
mkdocs/search_index.json     721
/                           1641
Name: name, dtype: int64

'Badlands'

page
content/php_i/intro-via-interactive-shell/hello-world-and-other-strings.html     2
content/php_i/intro-to-operators                                                 2
content/laravel/intro                                                            2
content/php_i/intro-via-interactive-shell                                        3
content/php_ii                                                                   4
content/php_ii/command-line/io-streams.html                                      5
content/php_i                                                                    5
content/php_ii/control-structures-i                                              5
content/php_ii/command-line                                                      6
/                                                                               17
Name: name, dtype: int64

'Apollo'

page
/                                              1
content/html-css/gitbook/images/favicon.ico    1
content/html-css/introduction.html             1
content/html-css                               2
Name: name, dtype: int64

'Ike'

page
toc                       6
index.html                6
html-css/css-i            6
javascript-i              7
html-css/forms            8
content/html-css          9
html-css/introduction    10
html-css/elements        11
html-css                 12
/                        19
Name: name, dtype: int64

'Voyageurs'

page
html-css          528
jquery            583
javascript-ii     584
java-i            641
spring            650
mysql             663
java-ii           756
java-iii          770
javascript-i      884
/                2101
Name: name, dtype: int64

'Wrangell'

page
html-css/css-ii/bootstrap-grid-system     313
java-ii                                   325
java-iii                                  337
jquery                                    377
java-i                                    406
html-css                                  411
search/search_index.json                  504
javascript-i                              560
toc                                       991
/                                        1132
Name: name, dtype: int64

'Xanadu'

page
java-i                      484
javascript-ii               496
java-iii                    497
java-ii                     502
mysql                       509
jquery                      544
search/search_index.json    577
html-css                    597
javascript-i                722
/                           924
Name: name, dtype: int64

'Franklin'

page
spring/setup                    2
javascript-ii                   2
javascript-i/coffee-project     2
javascript-i                    2
java-iii/user-input             3
java-iii                        3
java-ii                         3
java-i                          3
/                               4
javascript-ii/es6              10
Name: name, dtype: int64

'Yosemite'

page
javascript-ii/map-filter-reduce    299
mysql                              331
javascript-ii                      337
java-iii                           351
search/search_index.json           361
spring                             381
html-css                           384
javascript-i                       452
toc                                697
/                                  981
Name: name, dtype: int64

'Staff'

page
javascript-ii                993
jquery/ajax/weather-map     1050
java-ii                     1260
html-css                    1284
appendix                    1288
search/search_index.json    1349
java-iii                    1393
spring                      1403
javascript-i                1817
/                           6340
Name: name, dtype: int64

'Zion'

page
java-i                       605
java-ii                      624
javascript-ii                647
spring                       672
html-css                     675
search/search_index.json     700
java-iii                     753
javascript-i                 897
toc                         1465
/                           1798
Name: name, dtype: int64

'Andromeda'

page
java-i           338
jquery           338
mysql            355
html-css         375
java-ii          398
java-iii         433
spring           487
javascript-i     516
toc              638
/               1174
Name: name, dtype: int64

'Betelgeuse'

page
html-css                    457
java-iii                    472
java-ii                     481
java-i                      482
html-css/elements           495
jquery                      542
toc                         610
javascript-i                717
search/search_index.json    761
/                           955
Name: name, dtype: int64

'Ceres'

page
spring                       562
mysql                        622
jquery                       637
java-ii                      681
java-iii                     682
html-css                     766
toc                          911
javascript-i                1003
search/search_index.json    1380
/                           1653
Name: name, dtype: int64

'Deimos'

page
java-ii                      511
mysql                        517
java-iii                     523
spring                       533
jquery                       563
search/search_index.json     746
toc                          750
html-css                     773
javascript-i                 896
/                           1467
Name: name, dtype: int64

'Europa'

page
html-css                     353
jquery                       370
mysql                        372
java-ii                      375
html-css/elements            430
java-iii                     451
javascript-i                 506
search/search_index.json     742
toc                          964
/                           1295
Name: name, dtype: int64

'Fortuna'

page
java-i                       555
html-css                     585
mysql                        591
spring                       636
java-ii                      657
javascript-i                 785
java-iii                     786
search/search_index.json    1020
toc                         1293
/                           2038
Name: name, dtype: int64

'Apex'

page
mysql                        483
java-i                       590
spring                       600
java-iii                     663
java-ii                      666
javascript-i                 669
html-css                     738
toc                          810
/                           1346
search/search_index.json    1497
Name: name, dtype: int64

'Ganymede'

page
java-i                       515
javascript-ii                525
jquery                       536
appendix                     561
java-ii                      641
java-iii                     651
javascript-i                 760
toc                          822
search/search_index.json    1095
/                           1727
Name: name, dtype: int64

'Everglades'

page
/    1
Name: name, dtype: int64

'Hyperion'

page
java-i                       489
jquery                       497
spring                       526
mysql                        553
search/search_index.json     670
java-ii                      688
java-iii                     701
javascript-i                 910
toc                         1022
/                           1365
Name: name, dtype: int64

'Bash'

page
javascript-i/introduction    256
jquery                       262
html-css                     265
java-ii                      268
spring                       311
java-iii                     324
javascript-i                 374
toc                          404
search/search_index.json     660
/                            772
Name: name, dtype: int64

'Jupiter'

page
java-i                       503
mysql                        564
spring                       621
java-ii                      755
html-css                     784
java-iii                     795
javascript-i                 926
search/search_index.json     998
/                           1696
toc                         1866
Name: name, dtype: int64

'Kalypso'

page
java-i                      408
java-ii                     417
javascript-ii               440
java-iii                    456
search/search_index.json    467
jquery                      470
html-css                    495
toc                         495
javascript-i                631
/                           939
Name: name, dtype: int64

'Luna'

page
javascript-ii                                                                247
java-ii                                                                      255
java-iii                                                                     259
jquery                                                                       301
html-css                                                                     307
javascript-i/introduction/working-with-data-types-operators-and-variables    315
toc                                                                          373
search/search_index.json                                                     405
/                                                                            491
javascript-i                                                                 676
Name: name, dtype: int64

'Marco'

page
javascript-i/conditionals                                                    292
javascript-i/loops                                                           312
javascript-i/functions                                                       382
jquery                                                                       405
javascript-i/javascript-with-html                                            411
html-css                                                                     479
javascript-i/introduction/working-with-data-types-operators-and-variables    505
/                                                                            699
javascript-i                                                                 907
toc                                                                          910
Name: name, dtype: int64

'Neptune'

page
javascript-i/functions                                                       217
javascript-i/loops                                                           226
html-css/css-ii/bootstrap-introduction                                       227
html-css/css-ii/bootstrap-grid-system                                        256
javascript-i                                                                 272
javascript-i/javascript-with-html                                            311
html-css                                                                     313
javascript-i/introduction/working-with-data-types-operators-and-variables    329
toc                                                                          451
/                                                                            472
Name: name, dtype: int64

'Oberon'

page
javascript-i/introduction/variables                                           95
toc                                                                          101
javascript-i/javascript-with-html                                            125
/                                                                            131
javascript-i                                                                 136
javascript-i/conditionals                                                    144
javascript-i/introduction/working-with-data-types-operators-and-variables    146
javascript-i/functions                                                       171
javascript-i/introduction/primitive-types                                    177
javascript-i/introduction/operators                                          179
Name: name, dtype: int64

In [46]:
# Regression lesson in most viewed for Curie  with ab 600 clicks where as it barely shows up one other time in the top 6 lessons for other data science cohorts
for x in DSDict:
    display(x, DSDict[x].groupby('page')['name'].count().sort_values().tail(7))

'Bayes'

page
10-anomaly-detection/AnomalyDetectionCartoon.jpeg     387
6-regression/1-overview                               521
search/search_index.json                              588
1-fundamentals/1.1-intro-to-data-science              640
1-fundamentals/AI-ML-DL-timeline.jpg                  648
1-fundamentals/modern-data-scientist.jpg              650
/                                                    1967
Name: name, dtype: int64

'Curie'

page
3-sql/1-mysql-overview                       441
1-fundamentals/1.1-intro-to-data-science     461
1-fundamentals/AI-ML-DL-timeline.jpg         465
1-fundamentals/modern-data-scientist.jpg     467
search/search_index.json                     538
6-regression/1-overview                      595
/                                           1712
Name: name, dtype: int64

'Darden'

page
anomaly-detection/overview                         592
anomaly-detection/AnomalyDetectionCartoon.jpeg     612
search/search_index.json                           664
sql/mysql-overview                                 774
classification/scale_features_or_not.svg           943
classification/overview                           1109
/                                                 2980
Name: name, dtype: int64

'Easley'

page
fundamentals/intro-to-data-science                                372
fundamentals/modern-data-scientist.jpg                            379
fundamentals/AI-ML-DL-timeline.jpg                                381
classification/classical_programming_vs_machine_learning.jpeg     432
classification/overview                                           445
classification/scale_features_or_not.svg                          463
/                                                                1115
Name: name, dtype: int64

'Florence'

page
sql/mysql-overview                        203
fundamentals/DataToAction_v2.jpg          208
python/data-types-and-variables           258
/                                         584
fundamentals/intro-to-data-science        615
fundamentals/AI-ML-DL-timeline.jpg        624
fundamentals/modern-data-scientist.jpg    627
Name: name, dtype: int64

In [42]:
newdf = df.groupby(['program_id','page'])['page'].count().nlargest(5)

In [43]:
newdf

program_id  page
Java        /                           35814
            javascript-i                17457
            toc                         17428
            search/search_index.json    15212
            java-iii                    12683
Name: page, dtype: int64

In [24]:
df

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
date,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
...,...,...,...,...,...,...,...,...,...,...
2021-04-21,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java