# [Project - Anomaly Detection](https://classroom.google.com/u/1/c/NTI2MzQ4Nzc3NTk3/a/NTI2MzQ4Nzc3NjUx/details)

In [1]:
#################################################
#################### Imports ####################
#################################################

# ---------------- #
# Common Libraries #
# ---------------- #
      
# Standard Imports
import os
import requests
import numpy as np
import pandas as pd

# Working with Dates & Times
from sklearn.model_selection import TimeSeriesSplit
from datetime import timedelta, datetime

# Working with Math & Stats
import statsmodels.api as sm
import scipy.stats as stats

# to evaluate performance using rmse
from sklearn.metrics import mean_squared_error
from math import sqrt 

# holt's linear trend model. 
from statsmodels.tsa.api import Holt

# Plots, Graphs, & Visualization
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
from matplotlib.dates import DateFormatter

# plotting defaults
plt.rc('figure', figsize=(13, 7))
plt.style.use('seaborn-whitegrid')
plt.rc('font', size=16)

# -------------- #
# Action Imports #
# -------------- #

# Warnings 
import warnings 
warnings.filterwarnings("ignore")

# ------------ #
# JUPYTER ONLY #
# ------------ #
    
# Disable autosave
%autosave 0

# Increases Display Resolution for Graphs 
%matplotlib inline 
%config InlineBackend.figure_format = 'retina'

# Left Align Tables in Jupyter Notebook
from IPython.core.display import HTML
table_css = 'table {align:left;display:block}'
HTML('{}'.format(table_css))

# ------------- #
# Local Imports #
# ------------- #

# importing sys
import sys

# adding 00_helper_files to the system path
sys.path.insert(0, '/Users/qmcbt/codeup-data-science/00_helper_files')

# env containing sensitive access credentials
import env
from env import user, password, host

# Import Helper Modules
import QMCBT_00_quicktips as qt
import QMCBT_01_acquire as acq
import QMCBT_02_prepare as prep
import QMCBT_03_explore as exp
import QMCBT_04_visualize as viz
import QMCBT_05_model as mod
import QMCBT_wrangle as qw
import wrangle as w

Autosave disabled

# SYLABUS
* To get 100 on this project you only need to answer 5 out of the 7 questions (along with the other deliverables listed below i.e. slide, your notebook, etc).
* send your email before the due date and time to datascience@codeup.com (Only one team member can do this on behalf of whole team).
* Submit a link to a final notebook on GitHub that asks and answers questions - document the work you do to justify findings
* Compose an email with the answers to the questions/your findings, and in the email, include the link to your notebook in GitHub and attach your slide.
* You will not present this, so be sure that the details you need your leader to convey/understand are clearly communicated in the email.
* Your slide should be like an executive summary and be in form to present.
* Continue to use best practices of acquire.py, prepare.py, etc.
* Since there is no modeling to be done for this project, there is no need to split the data into train/validate/test
* The cohort schedule is in the SQL database, and alumni.codeup.com has info as well.
* Teamwork with Git handout is posted in the google classroom

I have some questions for you that I need to be answered before the board meeting Wednesday afternoon. I need to be able to speak to the following questions. I also need a single slide that I can incorporate into my existing presentation (Google Slides) that summarizes the most important points. My questions are listed below; however, if you discover anything else important that I didn’t think to ask, please include that as well.

# Download the data
url = 'https://drive.google.com/u/1/uc?id=1phD962Wrt8fetpvX-ersybPcZW3_54ma&export=download'

In [4]:
df = w.acquire_anonymized_curriculum_access_data()

In [8]:
df = w.clean_the_data(df)

In [9]:
df.T

date,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,...,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21
date,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,...,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00
time,09:55:03,09:56:02,09:56:05,09:56:06,09:56:24,09:56:41,09:56:46,09:56:48,09:56:59,09:58:26,...,16:38:14,16:41:29,16:41:31,16:41:49,16:41:51,16:41:51,16:42:02,16:42:09,16:44:37,16:44:39
page,/,java-ii,java-ii/object-oriented-programming,slides/object_oriented_programming,javascript-i/conditionals,javascript-i/loops,javascript-i/conditionals,javascript-i/functions,javascript-i/loops,javascript-i/functions,...,java-iii/servlets,javascript-i,javascript-ii,jquery,javascript-i/bom-and-dom/dom,jquery/personal-site,jquery/mapbox-api,jquery/ajax/weather-map,anomaly-detection/discrete-probabilistic-methods,jquery/mapbox-api
user_id,1,1,1,1,2,2,3,3,2,4,...,834,64,64,64,875,64,64,64,744,64
cohort_id,8.0,8.0,8.0,8.0,22.0,22.0,22.0,22.0,22.0,22.0,...,134.0,28.0,28.0,28.0,135.0,28.0,28.0,28.0,28.0,28.0
ip,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,...,67.11.50.23,71.150.217.33,71.150.217.33,71.150.217.33,24.242.150.231,71.150.217.33,71.150.217.33,71.150.217.33,24.160.137.86,71.150.217.33
name,Hampton,Hampton,Hampton,Hampton,Teddy,Teddy,Teddy,Teddy,Teddy,Teddy,...,Luna,Staff,Staff,Staff,Marco,Staff,Staff,Staff,Staff,Staff
start_date,2015-09-22 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,2018-01-08 00:00:00,2018-01-08 00:00:00,2018-01-08 00:00:00,2018-01-08 00:00:00,2018-01-08 00:00:00,2018-01-08 00:00:00,...,2020-12-07 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2021-01-25 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00
end_date,2016-02-06 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,2018-05-17 00:00:00,2018-05-17 00:00:00,2018-05-17 00:00:00,2018-05-17 00:00:00,2018-05-17 00:00:00,2018-05-17 00:00:00,...,2021-06-08 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2021-07-19 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00
program_id,PHP,PHP,PHP,PHP,Java,Java,Java,Java,Java,Java,...,Java,Java,Java,Java,Java,Java,Java,Java,Java,Java

## 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

## 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

## 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

## 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

## 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

## 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?

# Grad Users

In [11]:
# Create DataFrame for users that have accessed the curriculum past there graduation date
grad_users = df[df.date > df.end_date]

In [26]:
grad_users.T

date,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,...,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21
date,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,...,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00
time,09:55:03,09:56:02,09:56:05,09:56:06,10:14:47,10:14:51,10:15:02,10:40:15,10:59:02,10:59:06,...,16:07:17,16:30:30,16:41:29,16:41:31,16:41:49,16:41:51,16:42:02,16:42:09,16:44:37,16:44:39
page,/,java-ii,java-ii/object-oriented-programming,slides/object_oriented_programming,/,javascript-i,javascript-i/functions,javascript-i/functions,index.html,java-i,...,javascript-ii/RESTful-api,appendix,javascript-i,javascript-ii,jquery,jquery/personal-site,jquery/mapbox-api,jquery/ajax/weather-map,anomaly-detection/discrete-probabilistic-methods,jquery/mapbox-api
user_id,1,1,1,1,11,11,11,1,21,21,...,64,771,64,64,64,64,64,64,744,64
cohort_id,8.0,8.0,8.0,8.0,1.0,1.0,1.0,8.0,16.0,16.0,...,28.0,62.0,28.0,28.0,28.0,28.0,28.0,28.0,28.0,28.0
ip,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,71.137.146.71,71.137.146.71,...,71.150.217.33,172.125.226.175,71.150.217.33,71.150.217.33,71.150.217.33,71.150.217.33,71.150.217.33,71.150.217.33,24.160.137.86,71.150.217.33
name,Hampton,Hampton,Hampton,Hampton,Arches,Arches,Arches,Hampton,Niagara,Niagara,...,Staff,Jupiter,Staff,Staff,Staff,Staff,Staff,Staff,Staff,Staff
start_date,2015-09-22 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2015-09-22 00:00:00,2016-10-26 00:00:00,2016-10-26 00:00:00,...,2014-02-04 00:00:00,2020-09-21 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00
end_date,2016-02-06 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,2014-04-22 00:00:00,2014-04-22 00:00:00,2014-04-22 00:00:00,2016-02-06 00:00:00,2017-03-09 00:00:00,2017-03-09 00:00:00,...,2014-02-04 00:00:00,2021-03-30 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00
program_id,PHP,PHP,PHP,PHP,PHP,PHP,PHP,PHP,Java,Java,...,Java,Java,Java,Java,Java,Java,Java,Java,Java,Java

In [12]:
# Count the users
grad_users.user_id.nunique()

592

In [13]:
# Show the users
grad_users.user_id.unique()

array([  1,  11,  21,  26,  37,  40,  50,  51,  53,  60,  64,  66,  67,
        68,  69,  70,  71,  72,  75,  76,  77,  80,  81,  82,  83,  84,
        85,  87,  90,  91,  92,  93,  94,  95,  96,  97,  98, 101, 102,
        16,  42,  41,  17,  22,  15, 104,  47,  57,  10, 105, 106,  28,
       107,  65,  52,  33,  56, 108,  27,  38,  36, 109, 110, 112, 113,
       114, 115, 139, 140, 141, 143, 144, 146, 147, 148, 149, 150, 151,
       152, 153, 156, 161, 162, 163, 164, 165, 167, 168, 169, 170, 172,
       173, 174, 175, 177, 178, 179,  29,  19, 180,   6,  99,  43,  31,
         7, 181, 138,  35, 142,   5, 155, 154,  88, 209, 210,  18,   3,
        20, 118, 211, 212, 214, 216, 217, 131, 135, 128, 127, 124, 130,
       159,  12, 145, 241, 242, 136, 157, 171, 123,  25, 134, 119, 243,
       244, 245, 246, 160, 248, 252, 254, 255, 120, 257, 279, 280, 281,
        14, 253, 188, 186, 283, 184, 215, 278, 183, 204, 193, 195, 197,
       249, 206, 284, 121, 201, 285, 286, 311, 190, 312, 116, 200, 250,
       187, 256, 230, 220, 313, 223, 314, 225, 228, 240, 219, 316, 231,
       227, 239, 189, 208, 232, 258, 318, 319, 322, 238, 348, 282, 270,
       263, 272, 267, 185, 260, 275, 274, 226, 315, 269, 266, 262, 277,
       273, 265, 264, 271, 261, 370, 198, 234, 126, 396, 397, 398, 288,
       293, 306, 295, 297, 302, 321, 251, 309, 304, 290, 399, 291, 346,
       401, 402, 404, 405, 122, 427, 428, 323, 337, 332, 330, 327, 347,
       324, 338, 336, 328, 333, 331, 335, 344, 299, 329, 341, 334, 325,
       459, 296, 326, 375, 374, 393, 389, 430, 390, 385, 379, 461, 462,
       463, 394, 464, 305, 465, 395, 392, 486, 373, 414, 423, 410, 424,
       513, 425, 383, 417, 416, 514, 415, 413, 419, 539, 426, 545, 515,
       437, 451, 458, 433, 435, 445, 457, 434, 439, 440, 460, 455, 452,
       436, 456, 450, 448, 546, 446, 572, 573, 543, 574, 476, 471, 475,
       485, 474, 478, 468, 481, 472, 466, 479, 483, 473, 482, 480, 469,
       592, 358, 593, 477, 447, 610, 495, 489, 611, 512, 491, 488, 509,
       490, 507, 502, 500, 493, 508, 504, 499, 503, 506, 511, 498, 494,
       510, 618, 620, 501, 467, 646, 647, 497, 530, 540, 527, 531, 524,
       516, 521, 538, 523, 532, 519, 542, 384, 528, 537, 517, 649, 650,
       651, 652, 653, 535, 307, 534, 541, 525, 496, 566, 555, 564, 559,
       654, 567, 553, 548, 551, 547, 554, 569, 549, 558, 565, 560, 570,
       557, 571, 556, 616, 586, 584, 580, 575, 561, 581, 585, 588, 576,
       589, 591, 617, 582, 579, 590, 583, 614, 599, 613, 604, 612, 608,
       602, 598, 648, 606, 605, 595, 609, 596, 738, 600, 615, 563, 578,
       740, 633, 642, 632, 677, 635, 643, 631, 630, 626, 623, 741, 637,
       640, 624, 638, 636, 621, 627, 639, 641, 622, 742, 634, 625, 745,
       746, 371, 777, 778, 779, 786, 787, 533, 809, 813, 671, 656, 666,
       655, 673, 674, 662, 668, 667, 812, 657, 816, 817, 658, 664, 670,
       660, 628, 852, 853, 854, 855, 695, 691, 692, 683, 781, 857, 696,
       685, 783, 698, 785, 268, 688, 690, 682, 780, 680, 686, 694, 308,
       678, 744, 859, 712, 709, 737, 706, 743, 860, 730, 733, 705, 747,
       732, 693, 784, 893, 701, 894,  13, 951, 763, 751, 760, 748, 769,
       764, 761, 774, 753, 765, 750, 771, 749, 773, 755, 776, 762, 818,
       767, 952, 953, 768, 980, 756, 770])

In [14]:
# Count how many times each user accessed the curriculum
grad_users.user_id.value_counts()

11     17913
64     16297
53     12329
314     7783
1       7404
       ...
325        1
593        1
533        1
592        1
163        1
Name: user_id, Length: 592, dtype: int64

In [15]:
# Count how many times each page was accessed
grad_users.page.value_counts()

/                                                               15524
javascript-i                                                     4965
spring                                                           4262
search/search_index.json                                         4174
html-css                                                         3678
                                                                ...
users/1/edit                                                        1
9_Appendix_TSAD_Lesson2                                             1
Dataset_Challenge                                                   1
2.0_Intro_Stats                                                     1
appendix/professional-development/post-interview-review-form        1
Name: page, Length: 1865, dtype: int64

In [20]:
# List unique programs
grad_users.program_id.unique()

array(['PHP', 'Java', 'Front End', 'Data Science'], dtype=object)

In [24]:
# LOOK AT GRAD USERS
grad_program_views = grad_users.groupby(['program_id'])['page'].agg(['count', 'nunique'])
grad_program_views.sort_values(by='count', ascending=False)

               count  nunique
program_id
Java          157786     1656
PHP            30548      710
Data Science   11495      437
Front End          5        4

In [25]:
# LOOK AT WHOLE DF
df_program_views = df.groupby(['program_id'])['page'].agg(['count', 'nunique'])
df_program_views.sort_values(by='count', ascending=False)

               count  nunique
program_id
Java          713365     1913
Data Science  103411      682
nan            52893     1112
PHP            30548      710
Front End          5        4

# Data Science

In [16]:
# Create DataFrame for Data Science users that have accessed the curriculum past there graduation date
ds_grad_users = grad_users[grad_users.program_id == 'Data Science']

In [17]:
ds_grad_users.T

date,2020-01-31,2020-01-31,2020-01-31,2020-01-31,2020-01-31,2020-01-31,2020-01-31,2020-01-31,2020-01-31,2020-01-31,...,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21
date,2020-01-31 00:00:00,2020-01-31 00:00:00,2020-01-31 00:00:00,2020-01-31 00:00:00,2020-01-31 00:00:00,2020-01-31 00:00:00,2020-01-31 00:00:00,2020-01-31 00:00:00,2020-01-31 00:00:00,2020-01-31 00:00:00,...,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00
time,11:05:04,11:05:13,11:05:13,11:05:13,14:44:59,14:47:15,14:47:20,14:47:26,14:47:27,14:47:28,...,11:00:06,11:44:36,13:16:43,13:17:05,13:17:07,15:20:12,15:20:12,15:20:12,15:20:14,15:20:18
page,/,1-fundamentals/1.1-intro-to-data-science,1-fundamentals/modern-data-scientist.jpg,1-fundamentals/AI-ML-DL-timeline.jpg,/,search/search_index.json,4-python/7.4.4-advanced-dataframes,3-sql/1-mysql-overview,3-sql/2-mysql-introduction,3-sql/3-databases,...,python/advanced-dataframes,python/control-structures,/,python/control-structures,python/data-types-and-variables,classification/overview,classification/classical_programming_vs_machin...,classification/scale_features_or_not.svg,classification/project,classification/acquire
user_id,476,476,476,476,476,476,476,476,476,476,...,485,692,692,692,692,692,692,692,692,692
cohort_id,34.0,34.0,34.0,34.0,34.0,34.0,34.0,34.0,34.0,34.0,...,34.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0,59.0
ip,136.50.49.145,136.50.49.145,136.50.49.145,136.50.49.145,136.50.49.145,136.50.49.145,136.50.49.145,136.50.49.145,136.50.49.145,136.50.49.145,...,173.174.142.84,96.8.130.134,96.8.130.134,96.8.130.134,96.8.130.134,96.8.130.134,96.8.130.134,96.8.130.134,96.8.130.134,96.8.130.134
name,Bayes,Bayes,Bayes,Bayes,Bayes,Bayes,Bayes,Bayes,Bayes,Bayes,...,Bayes,Darden,Darden,Darden,Darden,Darden,Darden,Darden,Darden,Darden
start_date,2019-08-19 00:00:00,2019-08-19 00:00:00,2019-08-19 00:00:00,2019-08-19 00:00:00,2019-08-19 00:00:00,2019-08-19 00:00:00,2019-08-19 00:00:00,2019-08-19 00:00:00,2019-08-19 00:00:00,2019-08-19 00:00:00,...,2019-08-19 00:00:00,2020-07-13 00:00:00,2020-07-13 00:00:00,2020-07-13 00:00:00,2020-07-13 00:00:00,2020-07-13 00:00:00,2020-07-13 00:00:00,2020-07-13 00:00:00,2020-07-13 00:00:00,2020-07-13 00:00:00
end_date,2020-01-30 00:00:00,2020-01-30 00:00:00,2020-01-30 00:00:00,2020-01-30 00:00:00,2020-01-30 00:00:00,2020-01-30 00:00:00,2020-01-30 00:00:00,2020-01-30 00:00:00,2020-01-30 00:00:00,2020-01-30 00:00:00,...,2020-01-30 00:00:00,2021-01-12 00:00:00,2021-01-12 00:00:00,2021-01-12 00:00:00,2021-01-12 00:00:00,2021-01-12 00:00:00,2021-01-12 00:00:00,2021-01-12 00:00:00,2021-01-12 00:00:00,2021-01-12 00:00:00
program_id,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,...,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science,Data Science

In [38]:
# Count how many times each page was accessed
ds_grad_users.page.value_counts().head(10)

/                                                 1436
search/search_index.json                           493
sql/mysql-overview                                 275
classification/overview                            266
classification/scale_features_or_not.svg           219
anomaly-detection/AnomalyDetectionCartoon.jpeg     193
anomaly-detection/overview                         191
fundamentals/AI-ML-DL-timeline.jpg                 189
fundamentals/modern-data-scientist.jpg             187
fundamentals/intro-to-data-science                 184
Name: page, dtype: int64

# PHP

In [27]:
# Create DataFrame for Data Science users that have accessed the curriculum past there graduation date
php_grad_users = grad_users[grad_users.program_id == 'PHP']

In [28]:
php_grad_users.T

date,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,...,2021-04-09,2021-04-09,2021-04-09,2021-04-09,2021-04-09,2021-04-10,2021-04-10,2021-04-10,2021-04-10,2021-04-10
date,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,...,2021-04-09 00:00:00,2021-04-09 00:00:00,2021-04-09 00:00:00,2021-04-09 00:00:00,2021-04-09 00:00:00,2021-04-10 00:00:00,2021-04-10 00:00:00,2021-04-10 00:00:00,2021-04-10 00:00:00,2021-04-10 00:00:00
time,09:55:03,09:56:02,09:56:05,09:56:06,10:14:47,10:14:51,10:15:02,10:40:15,11:26:13,11:43:17,...,00:10:29,00:10:29,00:10:29,00:10:34,00:10:50,00:20:55,00:21:15,00:28:10,00:28:11,00:28:11
page,/,java-ii,java-ii/object-oriented-programming,slides/object_oriented_programming,/,javascript-i,javascript-i/functions,javascript-i/functions,java-i,mkdocs/search_index.json,...,content/javascript,content/javascript/introduction-to-javascript....,content/javascript/gitbook/images/favicon.ico,content/javascript/primitive-types.html,content/javascript/javascript-with-html.html,content/javascript/conditionals.html,content/javascript/loops.html,content/javascript/javascript-with-html.html,content/javascript/conditionals.html,content/javascript/gitbook/images/favicon.ico
user_id,1,1,1,1,11,11,11,1,1,1,...,80,80,80,80,80,51,51,80,80,80
cohort_id,8.0,8.0,8.0,8.0,1.0,1.0,1.0,8.0,8.0,8.0,...,14.0,14.0,14.0,14.0,14.0,13.0,13.0,14.0,14.0,14.0
ip,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,...,136.50.29.193,136.50.29.193,136.50.29.193,136.50.29.193,136.50.29.193,72.179.168.148,72.179.168.148,136.50.29.193,136.50.29.193,136.50.29.193
name,Hampton,Hampton,Hampton,Hampton,Arches,Arches,Arches,Hampton,Hampton,Hampton,...,Lassen,Lassen,Lassen,Lassen,Lassen,Kings,Kings,Lassen,Lassen,Lassen
start_date,2015-09-22 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,2015-09-22 00:00:00,...,2016-07-18 00:00:00,2016-07-18 00:00:00,2016-07-18 00:00:00,2016-07-18 00:00:00,2016-07-18 00:00:00,2016-05-23 00:00:00,2016-05-23 00:00:00,2016-07-18 00:00:00,2016-07-18 00:00:00,2016-07-18 00:00:00
end_date,2016-02-06 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,2014-04-22 00:00:00,2014-04-22 00:00:00,2014-04-22 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,2016-02-06 00:00:00,...,2016-11-10 00:00:00,2016-11-10 00:00:00,2016-11-10 00:00:00,2016-11-10 00:00:00,2016-11-10 00:00:00,2016-09-15 00:00:00,2016-09-15 00:00:00,2016-11-10 00:00:00,2016-11-10 00:00:00,2016-11-10 00:00:00
program_id,PHP,PHP,PHP,PHP,PHP,PHP,PHP,PHP,PHP,PHP,...,PHP,PHP,PHP,PHP,PHP,PHP,PHP,PHP,PHP,PHP

In [37]:
# Count how many times each page was accessed
php_grad_users.page.value_counts().head(10)

/                1681
index.html       1011
javascript-i      736
html-css          542
spring            501
java-iii          479
java-ii           454
java-i            444
javascript-ii     429
appendix          409
Name: page, dtype: int64

# JAVA

In [39]:
# Create DataFrame for Data Science users that have accessed the curriculum past there graduation date
java_grad_users = grad_users[grad_users.program_id == 'Java']

In [40]:
java_grad_users.T

date,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-29,2018-01-29,2018-01-29,2018-01-29,...,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21
date,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-26 00:00:00,2018-01-29 00:00:00,2018-01-29 00:00:00,2018-01-29 00:00:00,2018-01-29 00:00:00,...,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00,2021-04-21 00:00:00
time,10:59:02,10:59:06,11:36:27,11:36:35,11:36:38,13:57:51,09:28:24,09:28:31,09:31:01,10:20:35,...,16:07:17,16:30:30,16:41:29,16:41:31,16:41:49,16:41:51,16:42:02,16:42:09,16:44:37,16:44:39
page,index.html,java-i,/,javascript-i,javascript-i/functions,spring/extra-features/file-upload,jquery,jquery/ajax,jquery/ajax/requests-and-responses,javascript-i/conditionals,...,javascript-ii/RESTful-api,appendix,javascript-i,javascript-ii,jquery,jquery/personal-site,jquery/mapbox-api,jquery/ajax/weather-map,anomaly-detection/discrete-probabilistic-methods,jquery/mapbox-api
user_id,21,21,26,26,26,40,40,40,40,26,...,64,771,64,64,64,64,64,64,744,64
cohort_id,16.0,16.0,18.0,18.0,18.0,16.0,16.0,16.0,16.0,18.0,...,28.0,62.0,28.0,28.0,28.0,28.0,28.0,28.0,28.0,28.0
ip,71.137.146.71,71.137.146.71,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,...,71.150.217.33,172.125.226.175,71.150.217.33,71.150.217.33,71.150.217.33,71.150.217.33,71.150.217.33,71.150.217.33,24.160.137.86,71.150.217.33
name,Niagara,Niagara,Pinnacles,Pinnacles,Pinnacles,Niagara,Niagara,Niagara,Niagara,Pinnacles,...,Staff,Jupiter,Staff,Staff,Staff,Staff,Staff,Staff,Staff,Staff
start_date,2016-10-26 00:00:00,2016-10-26 00:00:00,2017-03-27 00:00:00,2017-03-27 00:00:00,2017-03-27 00:00:00,2016-10-26 00:00:00,2016-10-26 00:00:00,2016-10-26 00:00:00,2016-10-26 00:00:00,2017-03-27 00:00:00,...,2014-02-04 00:00:00,2020-09-21 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00
end_date,2017-03-09 00:00:00,2017-03-09 00:00:00,2017-07-20 00:00:00,2017-07-20 00:00:00,2017-07-20 00:00:00,2017-03-09 00:00:00,2017-03-09 00:00:00,2017-03-09 00:00:00,2017-03-09 00:00:00,2017-07-20 00:00:00,...,2014-02-04 00:00:00,2021-03-30 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00,2014-02-04 00:00:00
program_id,Java,Java,Java,Java,Java,Java,Java,Java,Java,Java,...,Java,Java,Java,Java,Java,Java,Java,Java,Java,Java

In [41]:
# Count how many times each page was accessed
java_grad_users.page.value_counts().head(10)

/                           12406
javascript-i                 4229
spring                       3760
search/search_index.json     3562
html-css                     3136
java-iii                     3058
java-ii                      2985
java-i                       2679
appendix                     2662
javascript-ii                2549
Name: page, dtype: int64

# Front End

In [42]:
# Create DataFrame for Data Science users that have accessed the curriculum past there graduation date
fe_grad_users = grad_users[grad_users.program_id == 'Front End']

In [43]:
fe_grad_users.T

date,2018-03-22,2018-03-22,2018-03-22,2018-03-22,2018-03-22
date,2018-03-22 00:00:00,2018-03-22 00:00:00,2018-03-22 00:00:00,2018-03-22 00:00:00,2018-03-22 00:00:00
time,19:01:49,19:01:54,19:01:54,19:02:47,19:02:52
page,/,content/html-css,content/html-css/gitbook/images/favicon.ico,content/html-css,content/html-css/introduction.html
user_id,152,152,152,152,152
cohort_id,9.0,9.0,9.0,9.0,9.0
ip,207.68.209.17,207.68.209.17,207.68.209.17,207.68.209.17,207.68.209.17
name,Apollo,Apollo,Apollo,Apollo,Apollo
start_date,2015-03-30 00:00:00,2015-03-30 00:00:00,2015-03-30 00:00:00,2015-03-30 00:00:00,2015-03-30 00:00:00
end_date,2015-07-29 00:00:00,2015-07-29 00:00:00,2015-07-29 00:00:00,2015-07-29 00:00:00,2015-07-29 00:00:00
program_id,Front End,Front End,Front End,Front End,Front End

In [44]:
# Count how many times each page was accessed
fe_grad_users.page.value_counts().head(10)

content/html-css                               2
/                                              1
content/html-css/gitbook/images/favicon.ico    1
content/html-css/introduction.html             1
Name: page, dtype: int64

## Why are there so few Front End Graduates accessing the Curriculum?

In [45]:
# Create DataFrame for Front End users
fe_users = df[df.program_id == 'Front End']

In [47]:
# show max end date for Front End users
fe_users.end_date.max()

Timestamp('2015-07-29 00:00:00')

In [48]:
# show min access date for df
df.date.min()

Timestamp('2018-01-26 00:00:00')

## ANSWER: Because the last of the Front End users graduated in 2015, three years before the start date of our data access collection which begins in 2018.

## 7. Which lessons are least accessed?

## 8. Anything else I should be aware of?