In [1]:
import pandas as pd
import numpy as np
import wrangle as w

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 1000)

In [2]:
df = w.acquire_anonymized_curriculum_access_data()

In [3]:
df

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
...,...,...,...,...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,2.0
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2.0

In [4]:
# 1 - PHP
# 2 - Java
# 3 - Data Science
# 4 - Front End

In [5]:
df = w.clean_the_data(df)

## 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

**Findings:**
- There are 233 users that didn't access the curriculum during their cohort timeframe, but some of those don't have a cohort listed (78)
- I defined "hardly active" as those students who accessed less than or equal to 10% of the average usage (pages viewed)
- 54 users accessed less than or equal to 10% of the average number of pages viewed per user.
- All but one user was from the Java program, user_id 679 was data science(assumed quit the course)
- **Oberon** and **Sequoia** cohorts only had students access the curriculum up through the first month of the course. ***This might mean that these cohorts used a different curriculum platform or there is something wrong with the start and end dates in the db***
- user_ids 24, 41, 371, 741, 56, 57, 45, 36, 250, 65, 52, 33, 253, 278 only started accessing the curriculum when the cohort was almost finished 
- user_ids 879, 832,  388, 572, 772, 529, 543, 46, 13, 702, 806 accessed the curriculum on the first day (or first week) and then stopped. ***I assume these are students who dropped out.***



Below is the code that helped me discover these finidings.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 900223 entries, 2018-01-26 to 2021-04-21
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        900223 non-null  datetime64[ns]
 1   time        900223 non-null  object
 2   page        900222 non-null  object
 3   user_id     900223 non-null  int64
 4   cohort_id   847330 non-null  float64
 5   ip          900223 non-null  object
 6   name        847330 non-null  object
 7   start_date  847330 non-null  datetime64[ns]
 8   end_date    847330 non-null  datetime64[ns]
 9   program_id  900223 non-null  object
dtypes: datetime64[ns](3), float64(1), int64(1), object(5)
memory usage: 75.5+ MB

In [7]:
#only look at students
students = df[df['name'] != 'Staff']

In [8]:
#find those who accessed the curriculum during their class
active_student_access = students.query('start_date < date < end_date')

In [9]:
total_users = students.user_id.nunique()

In [10]:
active_users = active_student_access.user_id.nunique()

In [11]:
total_users - active_users
#interesting that there are 257 users that didn't access the curriculum during their cohort, 
#but some of those don't have a cohort listed

233

In [12]:
#those that don't have a cohort listed and therefore don't have a start and end date
df[df['cohort_id'].isnull()].user_id.nunique()

78

In [13]:
usage = active_student_access.user_id.value_counts().sort_values()

In [14]:
#I defined "hardly active" as those students who accessed less than or equal to 10% of the average usage (pages viewed)
usage.mean() * .10

89.00359116022099

In [15]:
#how many accessed less than 10% of the average -- 54
usage[usage <= 89]

879     1
679     3
832     3
278     4
956     5
812     7
388     8
572    12
889    16
968    16
487    17
963    17
961    18
772    20
49     25
64     25
976    25
24     26
41     28
972    31
973    32
967    33
529    35
959    38
971    41
964    42
371    42
981    42
960    45
741    47
978    49
965    51
56     52
962    52
543    53
46     54
57     62
969    62
858    63
45     65
36     65
975    66
250    67
65     73
52     75
977    76
974    76
13     79
33     79
955    80
702    85
806    88
954    88
253    89
Name: user_id, dtype: int64

In [16]:
#278 is weird because they only started accessing the curriculum when the cohort was almost over
#Those who started accessing the curriculum when the cohort was almost over
#Java students
#278, 812
active_student_access[active_student_access.user_id == 278]

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
date,,,,,,,,,,
2018-09-27,2018-09-27,13:57:44,/,278,24.0,97.105.19.58,Voyageurs,2018-05-29,2018-10-11,Java
2018-09-27,2018-09-27,14:47:37,java-ii/arrays,278,24.0,107.77.217.9,Voyageurs,2018-05-29,2018-10-11,Java
2018-09-27,2018-09-27,14:58:48,java-ii/arrays,278,24.0,107.77.217.9,Voyageurs,2018-05-29,2018-10-11,Java
2018-09-27,2018-09-27,14:59:07,java-ii/collections,278,24.0,107.77.217.9,Voyageurs,2018-05-29,2018-10-11,Java

In [17]:
#test oddities of those who didn't view many times during cohort
active_student_access[active_student_access.user_id == 24]

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
date,,,,,,,,,,
2018-01-26,2018-01-26,11:24:17,appendix,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-26,2018-01-26,11:24:29,appendix/capstone-workbook,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-29,2018-01-29,11:25:49,/,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-29,2018-01-29,11:25:54,spring,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-29,2018-01-29,11:25:59,spring/fundamentals/views,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-29,2018-01-29,13:28:23,mkdocs/search_index.json,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-29,2018-01-29,13:28:33,html-css,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-29,2018-01-29,13:28:41,html-css/css-ii/bootstrap-introduction,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-29,2018-01-29,13:29:50,/,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-29,2018-01-29,13:29:53,html-css,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-29,2018-01-29,13:29:56,html-css/css-ii/bootstrap-introduction,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-30,2018-01-30,09:30:44,javascript-i,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-30,2018-01-30,09:30:49,javascript-i/google-maps-api,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-30,2018-01-30,09:32:13,mkdocs/search_index.json,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-01-30,2018-01-30,09:32:21,mkdocs/search_index.json,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-01,2018-02-01,10:21:40,spring,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-01,2018-02-01,10:21:45,spring/fundamentals/controllers,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-01,2018-02-01,10:22:10,java-iii,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-01,2018-02-01,10:22:16,java-iii/deployment-and-dependencies,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-01,2018-02-01,10:22:38,slides/deployment_and_dependencies,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-01,2018-02-01,10:22:46,slides/deployment_and_dependencies,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-01,2018-02-01,10:22:51,java-iii/servlets,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-01,2018-02-01,10:22:56,slides/servlets,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-01,2018-02-01,10:22:59,slides/servlets,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-07,2018-02-07,11:07:28,appendix,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java
2018-02-07,2018-02-07,11:07:31,appendix/capstone-workbook,24,21.0,97.105.19.61,Sequoia,2017-09-27,2018-02-15,Java

In [18]:
#24 seems to have completed the course but barely looked at the curriculum - Java

#858 started using a month plus in and then stopped after a week

#24, 41, 371, 741, 56, 57, 45, 36, 250, 65, 52, 33, 253, 278 only started accessing the curriculum when the cohort was almost finished - Java

In [19]:
#The below users accessed the curriculum on the first day (or first week) and then stopped. I assume these are students who dropped out.
#Java
#879, 832,  388, 572, 772, 529, 543, 46, 13, 702, 806,
#981 - listed as Neptune, but seems like it could have been Oberon

#Oberon Cohort(968, 963, 956, 961, 972, 973, 967, 959, 971, 964, 960, 978, 965, 962, 969, 975)
#No usage past 2021-04-21, but cohort end_date == 2021-10-01

#Data Science
#679, 

#487 only accessed the appendix pages one day during the first month of classes and that's it. Also, data science

In [20]:
active_student_access[active_student_access.name == 'Oberon'].user_id.value_counts()

966    159
970    113
957    112
979    104
958     95
954     88
955     80
977     76
974     76
975     66
969     62
962     52
965     51
978     49
960     45
964     42
971     41
959     38
967     33
973     32
972     31
976     25
961     18
963     17
968     16
956      5
Name: user_id, dtype: int64

In [21]:
active_student_access[active_student_access.name == 'Oberon'].end_date.max()

Timestamp('2021-10-01 00:00:00')

In [22]:
active_student_access[active_student_access.name == 'Oberon'].date.max()

Timestamp('2021-04-21 00:00:00')

In [23]:
active_student_access[active_student_access.name == 'Oberon'].start_date.min()

Timestamp('2021-04-12 00:00:00')

In [24]:
active_student_access[active_student_access.name == 'Oberon'].date.min()

Timestamp('2021-04-13 00:00:00')

In [25]:
active_student_access[active_student_access.name == 'Sequoia'].user_id.value_counts()

10    205
15    179
42    175
28    158
27    154
38    148
16    141
17    134
47    125
22    114
55     95
33     79
52     75
65     73
36     65
45     65
57     62
56     52
41     28
24     26
49     25
Name: user_id, dtype: int64

In [26]:
active_student_access[active_student_access.name == 'Sequoia'].end_date.max()

Timestamp('2018-02-15 00:00:00')

In [27]:
active_student_access[active_student_access.name == 'Sequoia'].date.max()

Timestamp('2018-02-14 00:00:00')

In [28]:
active_student_access[active_student_access.name == 'Sequoia'].start_date.min()

Timestamp('2017-09-27 00:00:00')

In [29]:
active_student_access[active_student_access.name == 'Sequoia'].date.min()

Timestamp('2018-01-26 00:00:00')

## 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

In [30]:
def one_user_df_prep(df, user):
    '''
    This function returns a dataframe consisting of data for only a single defined user
    '''
    df = df[df.user_id == user]
    df.date = pd.to_datetime(df.date)
    df = df.set_index(df.date)
    pages_one_user = df['page'].resample('d').count()
    return pages_one_user

In [31]:
def compute_pct_b(pages_one_user, span, weight, user):
    '''
    This function adds the %b of a bollinger band range for the page views of a single user's log activity
    '''
    # Calculate upper and lower bollinger band
    midband = pages_one_user.ewm(span=span).mean()
    stdev = pages_one_user.ewm(span=span).std()
    ub = midband + stdev*weight
    lb = midband - stdev*weight
    
    # Add upper and lower band values to dataframe
    bb = pd.concat([ub, lb], axis=1)
    
    # Combine all data into a single dataframe
    my_df = pd.concat([pages_one_user, midband, bb], axis=1)
    my_df.columns = ['pages_one_user', 'midband', 'ub', 'lb']
    
    # Calculate percent b and relevant user id to dataframe
    my_df['pct_b'] = (my_df['pages_one_user'] - my_df['lb'])/(my_df['ub'] - my_df['lb'])
    my_df['user_id'] = user
    return my_df

In [32]:
def find_anomalies(df, user, span, weight, plot=False):
    '''
    This function returns the records where a user's daily activity exceeded the upper limit of a bollinger band range
    '''
    
    # Reduce dataframe to represent a single user
    pages_one_user = one_user_df_prep(df, user)
    
    # Add bollinger band data to dataframe
    my_df = compute_pct_b(pages_one_user, span, weight, user)
    
    # Plot data if requested (plot=True)
    if plot:
        plot_bands(my_df, user)
    
    # Return only records that sit outside of bollinger band upper limit
    return my_df[my_df.pct_b>1]

In [33]:
span = 30
weight = 2

anomalies = pd.DataFrame()
for u in list(df.user_id.unique()):
    user_df = find_anomalies(df, u, span, weight)
    anomalies = pd.concat([anomalies, user_df], axis=0)

In [34]:
anomalies.sort_values(by='pages_one_user', ascending = False)

,pages_one_user,midband,ub,lb,pct_b,user_id
date,,,,,,
2020-07-22,285,44.915959,192.499064,-102.667146,1.313386,11
2019-03-03,272,24.721632,163.040772,-113.597508,1.393869,341
2020-04-16,271,44.194413,193.288101,-104.899276,1.260614,570
2019-07-25,253,34.698961,160.039466,-90.641543,1.370832,422
2020-04-26,234,54.999406,211.467475,-101.468663,1.072004,570
...,...,...,...,...,...,...
2020-09-25,1,0.064516,0.564257,-0.435225,1.435969,406
2018-05-04,1,0.083575,0.654077,-0.486926,1.303175,84
2020-07-09,1,0.066557,0.670070,-0.536955,1.273342,358
2019-11-16,1,0.081055,0.685340,-0.523231,1.260357,406
2018-07-04,1,0.068298,0.590843,-0.454246,1.391505,41

- user 11 was a student and then on staff

In [35]:
df[df.name == 'Hampton']

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
date,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,10:40:15,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
...,...,...,...,...,...,...,...,...,...,...
2020-04-23,2020-04-23,10:18:07,content/javascript/arrays/gitbook/images/favic...,646,8.0,173.174.197.146,Hampton,2015-09-22,2016-02-06,PHP
2020-04-23,2020-04-23,10:18:47,content/javascript/arrays/iterating.html,646,8.0,173.174.197.146,Hampton,2015-09-22,2016-02-06,PHP
2020-04-23,2020-04-23,10:19:24,content/javascript/functions.html,646,8.0,173.174.197.146,Hampton,2015-09-22,2016-02-06,PHP
2020-04-28,2020-04-28,10:58:31,content/javascript/loops.html,646,8.0,173.174.197.146,Hampton,2015-09-22,2016-02-06,PHP
2020-04-28,2020-04-28,10:58:40,content/javascript/conditionals.html,646,8.0,173.174.197.146,Hampton,2015-09-22,2016-02-06,PHP

In [36]:
df.groupby(['program_id'])['page'].nunique()

program_id
Data Science     682
Front End          4
Java            1913
PHP              710
nan             1112
Name: page, dtype: int64

In [37]:
# let's observe unique hits based on cohort
cohort_counts = df.groupby(['name','program_id'])['user_id', 'date','page'].nunique()

In [38]:
cohort_counts

                         user_id  date  page
name       program_id
Andromeda  Java               28   447   366
Apex       Java               24   386   273
Apollo     Front End           1     1     4
Arches     PHP                18   278   342
Badlands   PHP                 3    12    44
Bash       Java               23   252   275
Bayes      Data Science       23   512   533
Betelgeuse Java               22   430   334
Ceres      Java               29   466   301
Curie      Data Science       21   372   418
Darden     Data Science       29   277   420
Deimos     Java               27   483   288
Denali     PHP                 1     1     4
Easley     Data Science       17   135   230
Europa     Java               28   394   267
Everglades PHP                 1     1     1
Florence   Data Science       21    38   162
Fortuna    Java               29   356   258
Franklin   PHP                 2    12    45
Ganymede   Java               29   330   296
Glacier    PHP                 6    46   143
Hampton    PHP                 5   162   278
Hyperion   Java               23   277   270
Ike        PHP                 5    18    95
Joshua     PHP                 5    14   117
Jupiter    Java               33   213   288
Kalypso    Java               23   169   273
Kings      PHP                10   247   348
Lassen     PHP                13   532   486
Luna       Java               20   135   239
Mammoth    Java                5    53   232
Marco      Java               31    86   248
Neptune    Java               37    38   136
Niagara    Java                8   119   135
Oberon     Java               26    10    48
Olympic    PHP                14   309   383
Pinnacles  Java               14   217   325
Quincy     PHP                17   138   282
Sequoia    Java               28   422   312
Staff      Java               51   810  1404
Teddy      Java               35   586   544
Ulysses    Java               33   553   406
Voyageurs  Java               34   432   377
Wrangell   Java               26   273   421
Xanadu     Java               20   440   283
Yosemite   Java               29   305   314
Zion       Java               25   469   317

In [39]:
df[df.user_id == 341].ip.value_counts()

97.105.19.58       677
172.124.70.146     462
173.174.243.231    233
204.44.112.76      180
70.123.203.131      25
192.171.117.210      4
Name: ip, dtype: int64

In [40]:
df.ip.value_counts()

97.105.19.58       284579
97.105.19.61        61662
192.171.117.210      9515
71.150.217.33        6791
76.185.145.231       4754
                    ...
172.58.109.140          1
99.203.213.59           1
99.203.212.173          1
173.239.198.246         1
72.181.124.244          1
Name: ip, Length: 5531, dtype: int64

In [41]:
ip_df = pd.DataFrame(df.ip.value_counts(dropna=False)).reset_index().\
                rename(columns={'index': 'ip', 'ip': 'count'})
ip_df.head()

                ip   count
0     97.105.19.58  284579
1     97.105.19.61   61662
2  192.171.117.210    9515
3    71.150.217.33    6791
4   76.185.145.231    4754

In [42]:
# calculate probabity for each ip 

# ip_prob = count for each ip / total count in the dataframe

ip_df2 = pd.DataFrame((df.ip.value_counts(dropna=False))/df.ip.count()).reset_index().\
                rename(columns={'index': 'ip', 'ip': 'proba'})
ip_df2.head()

                ip     proba
0     97.105.19.58  0.316121
1     97.105.19.61  0.068496
2  192.171.117.210  0.010570
3    71.150.217.33  0.007544
4   76.185.145.231  0.005281

In [43]:
# merge the two data frames create above into a single one:
ip_df = ip_df.merge(ip_df2, on='ip')

In [44]:
ip_df.tail()

                   ip  count     proba
5526   172.58.109.140      1  0.000001
5527    99.203.213.59      1  0.000001
5528   99.203.212.173      1  0.000001
5529  173.239.198.246      1  0.000001
5530   72.181.124.244      1  0.000001

## 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

**Findings:**
- The first DS cohort listed (Bayes) graduated in 



Below is the code that helped me discover these finidings.

In [45]:
df[df.program_id == 'Data Science'].name.value_counts()

Darden      32015
Bayes       26538
Curie       21582
Easley      14715
Florence     8562
Name: name, dtype: int64

In [46]:
ds_accessed_pages = list(students[students['program_id'] == 'Data Science'].page.unique())

In [47]:
webdev_accessed_pages = list(students[(students['program_id'] == 'Java') | (students['program_id'] == 'PHP')].page.unique())

In [48]:
both_access = [page for page in ds_accessed_pages if page in webdev_accessed_pages]

In [51]:
both_df = students[students['page'].isin(both_access)]

In [52]:
both_df['2019':].program_id

date
2019-01-01     PHP
2019-01-01    Java
2019-01-01    Java
2019-01-01    Java
2019-01-01    Java
              ...
2021-04-21    Java
2021-04-21    Java
2021-04-21    Java
2021-04-21    Java
2021-04-21    Java
Name: program_id, Length: 216445, dtype: object

In [50]:
ds_accessed_pages

['/',
 '3-sql/1-mysql-overview',
 '2-storytelling/bad-charts',
 '2-storytelling/misleading1_baseball.jpg',
 '2-storytelling/misleading1_fox.jpg',
 '2-storytelling/misleading3_deaths.jpg',
 'appendix/cli-git-overview',
 '1-fundamentals/1.1-intro-to-data-science',
 '1-fundamentals/modern-data-scientist.jpg',
 '1-fundamentals/AI-ML-DL-timeline.jpg',
 '1-fundamentals/1.2-data-science-pipeline',
 '1-fundamentals/DataToAction_v2.jpg',
 'search/search_index.json',
 '13-advanced-topics/3.7-styling-webpages',
 '1-fundamentals/1.3-pipeline-demo',
 '1-fundamentals/2.1-excel-overview',
 '3-vocabulary.md',
 '6-regression/1-overview',
 '10-anomaly-detection/1-overview',
 '10-anomaly-detection/AnomalyDetectionCartoon.jpeg',
 '11-nlp/1-overview',
 '6-regression/2-regression-excel',
 '6-regression/3.1-acquire-and-prep',
 '6-regression/3.2-split-and-scale',
 '6-regression/3.3-explore',
 '6-regression/3.4-feature-engineering',
 '6-regression/3.5-modeling',
 '6-regression/3.6-evaluation',
 '6-regression/exercises',
 '6-regression/project',
 '7-classification/1-overview',
 '7-classification/2-intro-to-classification',
 '7-classification/3-acquire',
 '7-classification/4-prep',
 '10-anomaly-detection/2-detecting-through-probability',
 '7-classification/5-explore',
 '7-classification/6.1-logistic-regression',
 '7-classification/6.2-decision-trees',
 '7-classification/6.3-random-forests',
 '7-classification/6.4-knn',
 '7-classification/exercises',
 '8-clustering/1-overview',
 '8-clustering/2-about',
 '8-clustering/Hospital-Distance-Clusters.jpg',
 '8-clustering/3-wrangle',
 '8-clustering/4-explore',
 '8-clustering/5.1-kmeans-part-1',
 '8-clustering/5.2-kmeans-part-2',
 '8-clustering/exercises',
 '8-clustering/project',
 '9-timeseries/1-overview',
 '9-timeseries/project',
 '5-stats/1-overview',
 '1-fundamentals/2.2-excel-functions',
 'appendix/interview_questions_students',
 '1-fundamentals/project',
 '1-fundamentals/2.4-more-excel-features',
 '1-fundamentals/2.3-visualization-with-excel',
 '2-storytelling/1-overview',
 '2-storytelling/3-tableau',
 '2-storytelling/exercises',
 '3-sql/2-mysql-introduction',
 '3-sql/3-databases',
 '3-sql/6.1-clauses-overview',
 '3-sql/7-functions',
 '3-sql/8-group-by',
 '2-storytelling/2.1-understand',
 '2-storytelling/2.2-create',
 '2-storytelling/2.3-refine',
 '2-storytelling/2.4-present',
 '2-storytelling/project',
 'appendix/open_data',
 '1-fundamentals/3-vocabulary',
 '3-sql/11-more-exercises',
 '3-sql/10-temporary-tables',
 '3-sql/9.4-subqueries',
 '3-sql/9.3-joins',
 'appendix/git',
 'appendix/cli/0-overview',
 'appendix/cli/1-intro',
 '4-python/project',
 '4-python/6-imports',
 '5-stats/4.2-compare-means',
 '2-storytelling/chart-keywords',
 '4-python/7.5-intro-to-seaborn',
 'misleading1_baseball.jpg',
 'misleading1_fox.jpg',
 'misleading3_deaths.jpg',
 'appendix/cli/2-listing-files',
 'appendix/cls/2-listing-files',
 'appendix/cli/2-Overview',
 'appendix/cli/2-overview',
 'appendix/cli/3-file-paths',
 'appendix/cli/5-creating-files-and-directories',
 'appendix/cli/4-navigating-the-filesystem',
 'cli/3-file-paths',
 'cli/4-navigating-the-filesystem',
 'appendix/cli/6-moving-files',
 'appendix/cli/7-more-topics',
 '5-stats/5-power-analysis',
 '3-sql/4-tables',
 '3-sql/5-basic-statements',
 '3-sql/6.2-where',
 '3-sql/6.3-order-by',
 '3-sql/6.4-limit',
 '3-sql/9.1-relationships-overview',
 '3-sql/9.2-indexes',
 '5-stats/2-descriptive-stats',
 '5-stats/3-probability-distributions',
 '5-stats/4.1-hypothesis-testing-overview',
 '5-stats/4.3-correlation',
 '5-stats/4.4-compare-group-membership',
 '5-stats/4.5-more-statistical-testing-examples',
 '5-stats/Selecting_a_hypothesis_test.svg',
 '4-python/1-overview',
 '4-python/3-data-types-and-variables',
 '4-python/5-functions',
 '4-python/2-introduction-to-python',
 '4-python/4-control-structures',
 '4-python/7.3-intro-to-numpy',
 '3-sql/database-design',
 '4-python/7.2-intro-to-matplotlib',
 '4-python/intro-to-sklearn',
 '4-python/matplotlib-styles',
 '4-python/7.4-intro-to-pandas',
 '4-python/type-annotations',
 '4-python/7.1-ds-libraries-overview',
 '7-classification/project',
 '10-anomaly-detection/time-series-anomaly-detection-part-1',
 '10-anomaly-detection/time-series-anomaly-detection-part-2',
 '11-nlp/pos-tagging',
 'appendix/data-viz-references',
 'appendix/testing-code',
 'appendix/cli/7-more-topics/null',
 '10-anomaly-detection/4-detecting-with-clustering',
 '13-advanced-topics/3.1-developing-data-products',
 '13-advanced-topics/3.4-intro-to-flask',
 '13-advanced-topics/3.2-virtual-environments',
 '11-nlp/project',
 '11-nlp/github_repo_language.gif',
 '4-python/objects',
 '4-python/error-handling',
 'appendix/vocabulary',
 '4-python/7.4.2-series',
 '13-advanced-topics/3.3-building-a-model',
 '4-python/7.4.1-pandas-overview',
 '4-python/7.4.3-dataframes',
 'appendix/ds-environment-setup',
 '5-stats/sampling',
 '5-stats/confusion-matrix',
 '5-stats/probability-and-event-interactions',
 '5-stats/distributions-and-testing',
 '6-regression/built-in-datasets',
 '6-regression/ridge-regression',
 '6-regression/least-angle-regression',
 '6-regression/multivariate-regression-in-excel',
 '7-classification/svm',
 '7-classification/ensemble',
 '7-classification/handling-missing-values',
 '7-classification/confusion-matrix',
 '8-clustering/review',
 '8-clustering/dbscan',
 '8-clustering/hierarchical',
 '8-clustering/dendogram_sample.jpeg',
 '9-timeseries/svr',
 '9-timeseries/sarimax',
 '10-anomaly-detection/time-series-anomaly-detection-part-3',
 '10-anomaly-detection/isolation-forests',
 '11-nlp/entity-labeling',
 '11-nlp/topic-modeling',
 '12-distributed-ml/topic-modeling',
 '9-timeseries/2-intro-to-timeseries',
 '9-timeseries/3-acquire',
 '9-timeseries/4-prep',
 '9-timeseries/5-explore',
 '9-timeseries/6.1-parametric-modeling',
 '9-timeseries/6.2-prophet',
 '9-timeseries/exercises',
 '10-anomaly-detection/3-detecting-timeseries-anomalies',
 '10-anomaly-detection/exercises',
 '11-nlp/2-regular-expressions',
 '11-nlp/3-acquire',
 '11-nlp/4-prepare',
 '11-nlp/5-explore',
 '11-nlp/6-model',
 '11-nlp/exercises',
 '12-distributed-ml/1-overview',
 '12-distributed-ml/2-environment-setup',
 '12-distributed-ml/3-getting-started',
 '12-distributed-ml/4-acquire',
 '12-distributed-ml/5-inspect',
 '12-distributed-ml/6.1-prepare-part-1',
 '12-distributed-ml/6.2-prepare-part-2',
 '12-distributed-ml/6.3-prepare-part-3',
 '12-distributed-ml/6.4-prepare-part-4',
 '12-distributed-ml/7-explore',
 '12-distributed-ml/8.1-classification',
 '12-distributed-ml/exercises',
 '13-advanced-topics/1-tidy-data',
 '13-advanced-topics/2-cross-validation',
 '13-advanced-topics/3.5-html-templates',
 '13-advanced-topics/3.6-html-forms',
 '13-advanced-topics/3.8-json-responses',
 '4-python/7.4.4-advanced-dataframes',
 'toc',
 'java-iii',
 '7.4.1-pandas-overview',
 '7.4.2-series',
 'login',
 'html-css',
 'javascript-i',
 'java-i',
 'java-ii',
 'html-css/introduction',
 'html-css/elements',
 'html-css/forms',
 'java-i/console-io',
 '5-stats/2-simulation',
 '5-stats/viz.py',
 '5-stats/1-overview/null',
 '6-regression/2.0-acquire-and-prep',
 '6-regression/4.0-explore',
 '6-regression/3.0-split-and-scale',
 '6-regression/5.0-evaluate',
 '6-regression/6.0-feature-engineering',
 '6-regression/7.0-model',
 '6-regression/8.0-Project',
 'appendix/univariate_regression_in_excel',
 '7-classification/2-acquire',
 '7-classification/3-prep',
 '5-stats/4.2-compare-means/null',
 '7-classification/4-explore',
 'itc-ml',
 'itc%20-%20ml',
 'ltc.-ml',
 '2-storytelling/chart-types',
 '4-python/handling-duplicate-values',
 '4-python/working-with-files',
 '8-clustering/Zillow_Example',
 '7-classification/6.5-svm',
 'appendix/documentation',
 '9-timeseries/3-prep',
 '6-regression/univariate_regression_in_excel',
 'end_to_end_clustering',
 'End_to_End_clustering',
 '9-timeseries/2-acquire',
 '9-timeseries/4-explore',
 '9-timeseries/5.1-parametric-modeling',
 '9-timeseries/5.2-prophet',
 '9-timeseries/5-modeling',
 '9-timeseries/5.1-modeling-lesson1',
 '9-timeseries/5.2-modeling-lesson2',
 '10-anomaly-detection/5-detecting-with-clustering',
 '10-anomaly-detection/2-continuous-probabilistic-methods',
 '10-anomaly-detection/3-discrete-probabilistic-methods',
 '10-anomaly-detection/4-detecting-timeseries-anomalies',
 '10-anomaly-detection/2-continuous-probabilistic-methods.ipynb.md',
 '10-anomaly-detection/3-discrete-probabilistic-methods.ipynb',
 '3-discrete-probabilistic-methods',
 '4-detecting-timeseries-anomalies',
 '1-overview',
 '5-detecting-with-clustering',
 'jquery',
 'javascript-ii',
 'mysql',
 'spring',
 '4-python/pandas-time-series',
 'spring/extra-features/error-pages/asdfasdf',
 'spring/extra-features/error-pages',
 'mkdocs/search_index.json',
 'capstones',
 'javascript-i/bom-and-dom/dom',
 'javascript-i/conditionals',
 'Hospital-Distance-Clusters.jpg',
 'git/cli',
 'appendix',
 'appendix/git/intellij-intro',
 'appendix/git/intellij',
 'appendix/git/cli',
 '12-distributed-ml/3-spark-api',
 'find_me_curie!(12.3.19)',
 'index.html',
 'Pipeline_Demo',
 'Index.html',
 'examples',
 'search',
 'appendix/useful_libraries',
 '12-distributed-ml/spark-execution-diagram.svg',
 '12-distributed-ml/spark-local-mode.svg',
 '8-clustering/end-to-end-clustering',
 '12-distributed-ml/4-wrangle',
 '12-distributed-ml/5-explore',
 'bayes-python-assessment-4586.html',
 '12-distributed-ml/6-ml-with-spark',
 '12-distributed-ml/read-jdbc',
 '12-distributed-ml/spark-topics',
 '7-classification/5-evaluation',
 '7-classification/confusion-matrix.md',
 '13.1_Understand',
 '3-sql/11-case-statements',
 '3-sql/12-more-exercises',
 '1-fundamentals/2.1-spreadsheets-overview',
 '3-databases',
 '4-python/custom-sorting-functions',
 '4-python/7-working-with-files',
 '4-python/8.1-ds-libraries-overview',
 '4-python/8.5-intro-to-seaborn',
 '4-python/8.2-intro-to-matplotlib',
 '4-python/8.3-intro-to-numpy',
 '4-python/8.4.1-pandas-overview',
 '4-python/8.4.2-series',
 '4-python/8.4.3-dataframes',
 '4-python/8.4.4-advanced-dataframes',
 'appendix/git-branching',
 'curie-python-assessemt',
 'curie-python-assessment',
 '1-fundamentals/2.3-visualization',
 '1-fundamentals/2.2-functions',
 '1-fundamentals/2.3-visualization.md',
 'modern-data-scientist.jpg',
 'AI-ML-DL-timeline.jpg',
 '4-python/pandas-lesson',
 '3-data-types-and-variables',
 '9-timeseries/working-with-time-series-data-with-pandas',
 '2-storytelling/3.2-connecting-to-data',
 '2-storytelling/3.3-creating-charts',
 '2-storytelling/3.6-creating-stories',
 '2-storytelling/3.5-creating-dashboards',
 '2-storytelling/3.4-creating-custom-fields',
 '2-storytelling/1-overview/www.qlik.com',
 '3-probability-distributions',
 '4.2-compare-means',
 'curie-stats-assessment',
 'curie-statistics-assessment',
 'stats-assessment',
 'statistics-assessment',
 '4.5-more-statistical-testing-examples',
 '6-regression/appendix-feature-engineering',
 'appendix/professional-development/professionalism-101',
 '6-regression/8-project',
 '6-regression/4-explore',
 '6-regression/8-Project',
 '6-regression/7-model',
 nan,
 '6-regression/5-evaluate',
 '6-regression/3-split-and-scale',
 '6-regression/2-acquire-and-prep',
 '6-regression/6-feature-engineering',
 'project',
 '%20https://github.com/RaulCPena',
 ',%20https://github.com/RaulCPena',
 'classification',
 'appendix/professional-development/cover-letter-copy',
 'appendix/professional-development/linkedin-tips',
 'appendix/professional-development/t-block-lesson-ds',
 'appendix/professional-development/mock-behavioral-question',
 'appendix/professional-development/virtual-meeting-tips-and-tricks',
 '8-clustering/5-model',
 'A-clustering/project',
 'b-clustering/project',
 'appendix/professional-development/vertical-resume',
 'appendix/www.opensecrets.org',
 'grades/getUserDetails/916/3',
 'grades',
 'java-ii/object-oriented-programming',
 'AnomalyDetectionCartoon.jpeg',
 '3-acquire',
 'appendix/open_data/www.opensecrets.org',
 'appendix/open_data/www.followthemoney.org',
 'appendix/open_data/www.census.gov',
 'appendix/git-teamwork',
 'appendix/professional-development/offer-letters',
 'appendix/professional-development/email-setup',
 'appendix/professional-development/tech-talk',
 'appendix/professional-development/mock-behavioral-questions',
 '1-fundamentals',
 '1.2-data-science-pipeline',
 '1.3-pipeline-demo',
 '3-vocabulary',
 '2.1-spreadsheets-overview',
 'fundamentals/intro-to-data-science',
 'fundamentals/modern-data-scientist.jpg',
 'fundamentals/AI-ML-DL-timeline.jpg',
 'sql/basic-statements',
 'sql/temporary-tables',
 'sql/subqueries',
 'sql/group-by',
 'sql/tables',
 'sql/mysql-overview',
 'python/functions',
 'sql/order-by',
 'sql/indexes',
 'sql/joins',
 'sql/relationships-overview',
 'sql/where',
 'sql/functions',
 'sql/case-statements',
 'python/advanced-dataframes',
 'sql/limit',
 'sql/mysql-introduction',
 'sql/databases',
 'sql/clauses-overview',
 'database-design',
 'sql/more-exercises',
 'sql/database-design',
 'python/objects',
 'python/overview',
 'python/introduction-to-python',
 'python/data-types-and-variables',
 'python/control-structures',
 'classification/overview',
 'timeseries/prep',
 'python/imports',
 'python/working-with-files',
 'python/project',
 'python/intro-to-numpy',
 'python/series',
 'python/dataframes',
 'stats/overview',
 'stats/simulation',
 'stats/probability-distributions',
 'stats/hypothesis-testing-overview',
 'stats/compare-means',
 'stats/correlation',
 'stats/compare-group-membership',
 'fundamentals/environment-setup',
 'classification/evaluation',
 'timeseries/overview',
 'timeseries/explore',
 'fundamentals/vocabulary',
 'fundamentals/data-science-pipeline',
 'fundamentals/DataToAction_v2.jpg',
 'fundamentals/pipeline-demo',
 'classification/acquire',
 'classification/prep',
 'regression/split-and-scale',
 'regression/explore',
 'python/ds-libraries-overview',
 'storytelling/overview',
 'distributed-ml/spark-api',
 'storytelling/understand',
 'storytelling/create',
 'storytelling/refine',
 'storytelling/present',
 'storytelling/bad-charts',
 'storytelling/misleading1_baseball.jpg',
 'storytelling/misleading1_fox.jpg',
 'storytelling/misleading3_deaths.jpg',
 'stats/more-statistical-testing-examples',
 'stats/Selecting_a_hypothesis_test.svg',
 'fundamentals/cli/overview',
 'fundamentals/cli/intro',
 'fundamentals/cli/listing-files',
 'fundamentals/cli/file-paths',
 'fundamentals/cli/navigating-the-filesystem',
 'fundamentals/cli/creating-files-and-directories',
 'fundamentals/cli/moving-files',
 'fundamentals/cli/more-topics',
 'fundamentals/git',
 'anomaly-detection/overview',
 'anomaly-detection/AnomalyDetectionCartoon.jpeg',
 'python/pandas-overview',
 'classification/tidy-data',
 'classification/explore',
 'regression/acquire-and-prep',
 'regression/evaluate',
 'regression/overview',
 'regression/model',
 'regression/project',
 'timeseries/project',
 'timeseries/modeling-lesson2',
 'clustering/wrangle',
 'clustering/explore',
 'clustering/model',
 'timeseries/acquire',
 'classification/logistic-regression',
 'timeseries/modeling-lesson1',
 'distributed-ml/explore',
 'regression/feature-engineering',
 'nlp/acquire',
 'clustering/about',
 'clustering/Hospital-Distance-Clusters.jpg',
 'python/intro-to-matplotlib',
 'fundamentals/functions',
 'nlp/overview',
 'nlp/regular-expressions',
 'nlp/model',
 'fundamentals/spreadsheets-overview',
 'fundamentals/visualization-with-excel',
 'functions',
 'imports',
 'overview',
 'python/pandas-time-series',
 'python/handling-duplicate-values',
 'python/type-annotations',
 'python/error-handling',
 'python/intro-to-sklearn',
 'python/matplotlib-styles',
 'python/custom-sorting-functions',
 'regression/least-angle-regression',
 'python/intro-to-seaborn',
 'darden-python-assessment.html',
 'storytelling/connecting-to-data',
 'storytelling/creating-custom-fields',
 'storytelling/creating-dashboards',
 'storytelling/creating-stories',
 'storytelling/creating-charts',
 'distributed-ml/read-jdbc',
 'nlp/prepare',
 'appendix/data_science_community',
 'pandas-overview',
 'series',
 'timeseries/working-with-time-series-data-with-pandas',
 'classification/project',
 'intro-to-matplotlib',
 'timeseries/sarimax',
 'timeseries/svr',
 'anomaly-detection/discrete-probabilistic-methods',
 'anomaly-detection/continuous-probabilistic-methods',
 'nlp/pos-tagging',
 'nlp/entity-labeling',
 'nlp/topic-modeling',
 'nlp/explore',
 'appendix/open_data/www.stat.ucla.edu/data',
 'advanced-topics/developing-data-products',
 'storytelling/tableau',
 'classification/svm',
 'classification/ensemble',
 'clustering/project',
 'distributed-ml/ml-with-spark',
 'distributed-ml/overview',
 'distributed-ml/spark-execution-diagram.svg',
 'distributed-ml/spark-local-mode.svg',
 'distributed-ml/environment-setup',
 'distributed-ml/wrangle',
 'classification/random-forests',
 'create',
 'refine',
 'present',
 'bad-charts',
 'advanced-topics/intro-to-flask',
 'stats/viz.py',
 'clustering/dbscan',
 'simulation',
 'advanced-topics/virtual-environments',
 'compare-means',
 'advanced-topics/building-a-model',
 'stats/power-analysis',
 'stats/distributions-and-testing',
 'stats/probability-and-event-interactions',
 'stats/sampling',
 'regression/built-in-datasets',
 'classification/decision-trees',
 'classification/knn',
 'clustering/overview',
 'nlp/project',
 'nlp/github_repo_language.gif',
 'appendix/open_data/www.who.int/research/en',
 'anomaly-detection/detecting-timeseries-anomalies',
 'anomaly-detection/detecting-with-clustering',
 'advanced-topics/html-templates',
 'advanced-topics/html-forms',
 'advanced-topics/styling-webpages',
 'advanced-topics/cross-validation',
 '3-sql',
 'classification/scale_features_or_not.svg',
 'classification/handling-missing-values',
 'regression/univariate_regression_in_excel',
 'regression/viz.py',
 'classification/project-old-exec',
 'appendix/open_data/www.basketball-reference.com',
 'appendix/open_data/www.databasefootball.com',
 'appendix/coding-challenges',
 'advanced-topics/tidy-data',
 'regression/project/null',
 'regression/ridge-regression',
 'regression/multivariate-regression-in-excel',
 'regression/appendix-feature-engineering',
 'clustering/review',
 'appendix/coding-challenges/professional',
 'appendix/coding-challenges/intermediate',
 'appendix/coding-challenges/amateur',
 'classification/confusion-matrix',
 'api',
 'timeseries/working-with-time-series-data',
 'working-with-time-series-data',
 'split-and-scale',
 'explore',
 'appendix/open_data/www.census.gov/geo/www/tiger',
 'appendix/open_data/www.openstreetmap.org',
 'appendix/open_data/www.flickr.com/services/api',
 'scale_features_or_not.svg',
 'acquire',
 'timeseries',
 'prep',
 'advanced-topics/json-responses',
 'anomaly-detection/time-series-anomaly-detection-part-1',
 'anomaly-detection/isolation-forests',
 'anomaly-detection/time-series-anomaly-detection-part-2',
 'anomaly-detection/time-series-anomaly-detection-part-3',
 '.gitignore',
 'fundamentals/1-fundamentals/modern-data-scientist.jpg',
 'appendix/interview-questions-students',
 'regular-expressions',
 'prepare',
 'timeseries/E2E_example',
 'model',
 'DataToAction_v2.jpg',
 'short_evaluation',
 'regression/model_old',
 'clustering/I_have_clusters_now_what',
 'clustering/now_what.jpg',
 'capstones/capstones',
 'environment-setup',
 'vocabulary',
 'alumni',
 'regression/feature_engineering_into_modeling',
 'json-responses',
 'evaluation',
 'regression/old_project',
 'nlp',
 'mysql-introduction',
 'basic-statements',
 'git',
 'cli/overview',
 'introduction-to-python',
 'appendix/postwork',
 'fundamentals/intro-to-data-science.md',
 'fundamentals/data-science-pipeline.md',
 'fundamentals/cli/navigating-the-filesystem.md',
 'sql/mysql-introduction.md',
 'storytelling',
 'appendix/professional-development/interview-questions-tech',
 'appendix/professional-development/interview-questions-behavioral',
 'appendix/professional-development/interview-guidance',
 'understand',
 'cli/moving-files',
 'python/introduction-to-python.md',