In [1]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import os
import env
import wrangle as w

In [2]:
w.convert_txt_data()

,date,time,page,user_id,cohort_id,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33

In [3]:
w.get_cohort_data()

,cohort_id,name,start_date,end_date,program_id
0,1,Arches,2014-02-04,2014-04-22,1
1,2,Badlands,2014-06-04,2014-08-22,1
2,3,Carlsbad,2014-09-04,2014-11-05,1
3,4,Denali,2014-10-20,2015-01-18,1
4,5,Everglades,2014-11-18,2015-02-24,1
5,6,Franklin,2015-02-03,2015-05-26,1
6,7,Glacier,2015-06-05,2015-10-06,1
7,8,Hampton,2015-09-22,2016-02-06,1
8,9,Apollo,2015-03-30,2015-07-29,4
9,10,Balboa,2015-11-03,2016-03-11,4
10,11,Ike,2016-01-20,2016-05-12,1
11,12,Joshua,2016-03-08,2016-06-30,1
12,13,Kings,2016-05-23,2016-09-15,1
13,14,Lassen,2016-07-18,2016-11-10,1
14,15,Mammoth,2016-09-26,2017-02-02,2
15,16,Niagara,2016-10-26,2017-03-09,2
16,17,Olympic,2017-02-06,2017-05-25,1
17,18,Pinnacles,2017-03-27,2017-07-20,2
18,19,Quincy,2017-06-05,2017-09-22,1
19,20,Redwood,2017-07-31,2017-12-06,2
20,21,Sequoia,2017-09-27,2018-02-15,2
21,22,Teddy,2018-01-08,2018-05-17,2
22,23,Ulysses,2018-03-05,2018-07-19,2
23,24,Voyageurs,2018-05-29,2018-10-11,2
24,25,Wrangell,2018-07-23,2018-11-29,2
25,26,Xanadu,2018-09-17,2019-02-08,2
26,27,Yosemite,2018-11-05,2019-04-03,2
27,28,Staff,2014-02-04,2014-02-04,2
28,29,Zion,2019-01-22,2019-06-04,2
29,30,Ada,2019-02-04,2019-06-16,3
30,31,Andromeda,2019-03-18,2019-07-30,2
31,32,Betelgeuse,2019-05-28,2019-10-08,2
32,33,Ceres,2019-07-15,2019-12-11,2
33,34,Bayes,2019-08-19,2020-01-30,3
34,51,Deimos,2019-09-16,2020-02-27,2
35,52,Europa,2019-11-04,2020-04-17,2
36,53,Fortuna,2020-01-13,2020-06-23,2
37,55,Curie,2020-02-03,2020-07-07,3
38,56,Apex,2020-02-24,2020-07-29,2
39,57,Ganymede,2020-03-23,2020-08-20,2
40,58,Hyperion,2020-05-26,2020-11-10,2
41,59,Darden,2020-07-13,2021-01-12,3
42,60,Io,2020-07-20,2021-01-21,2
43,61,Bash,2020-07-20,2021-01-21,2
44,62,Jupiter,2020-09-21,2021-03-30,2
45,132,Kalypso,2020-11-02,2021-05-04,2
46,133,Easley,2020-12-07,2021-06-08,3
47,134,Luna,2020-12-07,2021-06-08,2
48,135,Marco,2021-01-25,2021-07-19,2
49,136,Placeholder for students in transition,2021-03-03,2029-03-01,2
50,137,Florence,2021-03-15,2021-09-03,3
51,138,Neptune,2021-03-15,2021-09-03,2
52,139,Oberon,2021-04-12,2021-10-01,2

In [4]:
df=w.acquire_anonymized_curriculum_access_data()

In [5]:
w.add_program_type(df)

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
...,...,...,...,...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,Java
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java

In [6]:
w.convert_datetimes(df)

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
date,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
...,...,...,...,...,...,...,...,...,...,...
2021-04-21,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java

In [7]:
w.clean_the_data(df)

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
date,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2018-01-26,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
...,...,...,...,...,...,...,...,...,...,...
2021-04-21,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,Java
2021-04-21,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java

In [8]:
ds=df[df.program_id=='Data Science']

In [9]:
ds

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
326053,2019-08-20,09:39:58,/,466,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
326054,2019-08-20,09:39:59,/,467,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
326055,2019-08-20,09:39:59,/,468,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
326056,2019-08-20,09:40:02,/,469,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
326057,2019-08-20,09:40:08,/,470,34.0,97.105.19.58,Bayes,2019-08-19,2020-01-30,Data Science
...,...,...,...,...,...,...,...,...,...,...
900182,2021-04-21,16:14:16,regression/project,841,133.0,99.162.244.233,Easley,2020-12-07,2021-06-08,Data Science
900183,2021-04-21,16:15:51,regression/project,841,133.0,99.162.244.233,Easley,2020-12-07,2021-06-08,Data Science
900190,2021-04-21,16:23:53,/,143,133.0,173.174.194.60,Easley,2020-12-07,2021-06-08,Data Science
900191,2021-04-21,16:23:57,clustering/project,841,133.0,99.162.244.233,Easley,2020-12-07,2021-06-08,Data Science
900202,2021-04-21,16:32:50,clustering/project,841,133.0,99.162.244.233,Easley,2020-12-07,2021-06-08,Data Science

In [10]:
fe=df[df.program_id=='Front End']

In [11]:
fe

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
31627,2018-03-22,19:01:49,/,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,Front End
31628,2018-03-22,19:01:54,content/html-css,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,Front End
31629,2018-03-22,19:01:54,content/html-css/gitbook/images/favicon.ico,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,Front End
31630,2018-03-22,19:02:47,content/html-css,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,Front End
31631,2018-03-22,19:02:52,content/html-css/introduction.html,152,9.0,207.68.209.17,Apollo,2015-03-30,2015-07-29,Front End

In [12]:
jv=df[df.program_id=='Java']

In [13]:
jv

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
5,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
6,2018-01-26,09:56:46,javascript-i/conditionals,3,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
7,2018-01-26,09:56:48,javascript-i/functions,3,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
8,2018-01-26,09:56:59,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,Java
...,...,...,...,...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,Java
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,Java

In [14]:
php=df[df.program_id=='PHP']

In [15]:
php

,date,time,page,user_id,cohort_id,ip,name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,PHP
30,2018-01-26,10:14:47,/,11,1.0,97.105.19.61,Arches,2014-02-04,2014-04-22,PHP
...,...,...,...,...,...,...,...,...,...,...
883786,2021-04-10,00:20:55,content/javascript/conditionals.html,51,13.0,72.179.168.148,Kings,2016-05-23,2016-09-15,PHP
883787,2021-04-10,00:21:15,content/javascript/loops.html,51,13.0,72.179.168.148,Kings,2016-05-23,2016-09-15,PHP
883788,2021-04-10,00:28:10,content/javascript/javascript-with-html.html,80,14.0,136.50.29.193,Lassen,2016-07-18,2016-11-10,PHP
883789,2021-04-10,00:28:11,content/javascript/conditionals.html,80,14.0,136.50.29.193,Lassen,2016-07-18,2016-11-10,PHP
883790,2021-04-10,00:28:11,content/javascript/gitbook/images/favicon.ico,80,14.0,136.50.29.193,Lassen,2016-07-18,2016-11-10,PHP

# 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [16]:
ds.groupby(['page'])['page'].count().sort_values(ascending=False)

page
/                                           8358
search/search_index.json                    2203
classification/overview                     1785
1-fundamentals/modern-data-scientist.jpg    1655
1-fundamentals/AI-ML-DL-timeline.jpg        1651
                                            ...
cli/4-navigating-the-filesystem                1
regression/project/null                        1
creating-charts                                1
curie-statistics-assessment                    1
%20https://github.com/RaulCPena                1
Name: page, Length: 682, dtype: int64

## Data Science accessed classification/overview 1785 times.

In [17]:
fe.groupby(['page'])['page'].count().sort_values(ascending=False)

page
content/html-css                               2
/                                              1
content/html-css/gitbook/images/favicon.ico    1
content/html-css/introduction.html             1
Name: page, dtype: int64

## Front End accessed content/html-css 2 times.

In [18]:
jv.groupby(['page'])['page'].count().sort_values(ascending=False)

page
/                                                                      35814
javascript-i                                                           17457
toc                                                                    17428
search/search_index.json                                               15212
java-iii                                                               12683
                                                                       ...
content/mysql/relationships/sub-queries.html                               1
content/mysql/sample-database/gitbook/images/favicon.ico                   1
content/php_iii/classes-and-objects-i/constructors-destructors.html        1
content/php_iv/classes-and-objects-ii/late-static-binding.html             1
wp-login                                                                   1
Name: page, Length: 1913, dtype: int64

## Java accessed javascript-i 17457 times.

In [19]:
php.groupby(['page'])['page'].count().sort_values(ascending=False)

page
/                      1681
index.html             1011
javascript-i            736
html-css                542
spring                  501
                       ...
interview-questions       1
13.5_Tableau              1
interview                 1
html/forms                1
4.5_imports               1
Name: page, Length: 710, dtype: int64

## PHP accessed javascript-i 736 times.

# 7. Which lessons are least accessed?

In [20]:
ds.groupby(['page'])['page'].count().sort_values()

page
%20https://github.com/RaulCPena                      1
appendix/open_data/www.census.gov                    1
appendix/open_data/www.flickr.com/services/api       1
appendix/open_data/www.openstreetmap.org             1
appendix/univariate_regression_in_excel              1
                                                  ...
1-fundamentals/AI-ML-DL-timeline.jpg              1651
1-fundamentals/modern-data-scientist.jpg          1655
classification/overview                           1785
search/search_index.json                          2203
/                                                 8358
Name: page, Length: 682, dtype: int64

## Data Science accessed pages with the prefix appendix the least.

In [21]:
fe.groupby(['page'])['page'].count().sort_values()

page
/                                              1
content/html-css/gitbook/images/favicon.ico    1
content/html-css/introduction.html             1
content/html-css                               2
Name: page, dtype: int64

## Front End accessed pages with the prefix content/html-css the least.

In [22]:
jv.groupby(['page'])['page'].count().sort_values()

page
'                                            1
cheatsheet.tex                               1
classification/user-defined-functions        1
cli-02-listing-files                         1
cli-03-file-paths                            1
                                         ...
java-iii                                 12683
search/search_index.json                 15212
toc                                      17428
javascript-i                             17457
/                                        35814
Name: page, Length: 1913, dtype: int64

## Java accessed pages with the prefix cli- the least.

In [23]:
php.groupby(['page'])['page'].count().sort_values()

page
html-css/media-queries                                       1
prework/cli/07-editing-files-with-vim                        1
content/appendix/javascript/functions/controllers.html       1
content/appendix/javascript/functions/models.html            1
content/appendix/javascript/functions/scope.html             1
                                                          ...
spring                                                     501
html-css                                                   542
javascript-i                                               736
index.html                                                1011
/                                                         1681
Name: page, Length: 710, dtype: int64

## PHP accessed pages with the prefix content/appendix/javascript/functions/ the least.